<ion-header mode="ios">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text="     " icon="chevron-back-outline" >
      </ion-back-button>
    </ion-buttons>
    <ion-title>
      {{testTitle}}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content mode="ios">
  <div *ngIf="patterns.length > 0">
    <div class="blueTitlePadding">
      <h1 class="titleUnderlinedInBlue">Description</h1>
      <div style="border-bottom: #4c81ee solid; width: 10%"></div>
    </div>
    <ion-card class="cardOutline">
      <div *ngFor="let item of testInfo">
        <p class="cardText">
          {{item.desc}}
          <span (click)="rule5034()" class="hyperLink">{{item.descRule}}</span>
        </p>
      </div>
    </ion-card>
</div>

  <div *ngIf="patterns.length > 0" style="margin-top: 20px;">
    <div class="blueTitlePadding">
      <h1 class="titleUnderlinedInBlue">Patterns</h1>
      <div style="border-bottom: #4c81ee solid; width: 10%"></div>
    </div>
        <ion-card *ngFor="let pattern of patterns; let i = index">
        <ion-item button (click)="openItem(pattern)" detail lines="none">
          <ion-label class="ion-text-wrap">
            {{i+1}}. {{pattern.title}}
          </ion-label>
        </ion-item>
      </ion-card>
  </div>

</ion-content>