ion-label{
    padding: 5px;
  }

  // ion-card{
  //   padding: 2px;
  //   margin:2px;
  // }

  // ion-icon{
  //   padding-top: 5px;
  //   color: black; 
  //   font-size: 1.5rem;
  //   font-weight: bold;
  // }

  // .cardName{
  //   font-size: .6rem;
  //   color: black;
  //   margin: 10px;
  // }

  .cardText{
    margin: 5px;
    font-size: 1rem;
    line-height: 1.6;
  }

