<ion-header mode="ios">
  <ion-toolbar>
    <ion-title>
      Quiz
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" mode="ios">
  <ion-grid>
    <ion-segment 
    value="standard" 
    (ionChange)="segmentChanged($event)"
    scrollable="true"
    mode="ios"
    >
 
      <ion-segment-button value="standard">
        <ion-label>Standard</ion-label>
      </ion-segment-button>
 
      <ion-segment-button value="adult">
        <ion-label>Adult</ion-label>
      </ion-segment-button>
 
      <ion-segment-button value="adaptive">
       <ion-label>Adaptive</ion-label>
     </ion-segment-button>
 
    </ion-segment>
  </ion-grid>


  

  <div class="divSpacingBox" *ngIf="category.includes('standard')">
    <ion-card>
    <ion-item button (click)="openQuiz('Pre-Preliminary')" detail lines="none">
      <ion-label>
        1. Pre-Preliminary quiz
      </ion-label>
     </ion-item>
    </ion-card>
    <ion-card>
    <ion-item button (click)="openQuiz('Preliminary')" detail lines="none">
      <ion-label>
        2. Preliminary quiz
      </ion-label>
     </ion-item>
    </ion-card>
    <ion-card>
    <ion-item button (click)="openQuiz('Pre-Juvenile')" detail lines="none">
      <ion-label>
        3. Pre-Juvenile quiz
      </ion-label>
     </ion-item>
    </ion-card>
    <ion-card>
    <ion-item button (click)="openQuiz('Juvenile')" detail lines="none">
      <ion-label>
        4. Juvenile quiz
      </ion-label>
     </ion-item>
    </ion-card>
    <ion-card>
    <ion-item button (click)="openQuiz('Intermediate')" detail lines="none">
      <ion-label>
        5. Intermediate quiz
      </ion-label>
     </ion-item>
    </ion-card>
    <ion-card>
    <ion-item button (click)="openQuiz('Novice')" detail lines="none">
      <ion-label>
        6. Novice quiz
      </ion-label>
     </ion-item>
    </ion-card>
    <ion-card>
    <ion-item button (click)="openQuiz('Junior')" detail lines="none">
      <ion-label>
        7. Junior quiz
      </ion-label>
     </ion-item>
    </ion-card>
    <ion-card>
    <ion-item button (click)="openQuiz('Senior')" detail lines="none">
      <ion-label>
        8. Senior quiz
      </ion-label>
     </ion-item>
    </ion-card>
  </div>

  <div class="divSpacingBox" *ngIf="category.includes('adult')">
    <ion-card>
    <ion-item button (click)="openQuiz('Adult Pre-Bronze')" detail lines="none">
      <ion-label>
        1. Adult Pre-Bronze quiz
      </ion-label>
     </ion-item>
    </ion-card>
    <ion-card>
    <ion-item button (click)="openQuiz('Adult Bronze')" detail lines="none">
      <ion-label>
        2. Adult Bronze quiz
      </ion-label>
     </ion-item>
    </ion-card>
    <ion-card>
    <ion-item button (click)="openQuiz('Adult Silver')" detail lines="none">
      <ion-label>
        3. Adult Silver quiz
      </ion-label>
     </ion-item>
    </ion-card>
    <ion-card>
    <ion-item button (click)="openQuiz('Adult Gold')" detail lines="none">
      <ion-label>
        4. Adult Gold quiz
      </ion-label>
     </ion-item>
    </ion-card>
    <ion-card>
    <ion-item button (click)="openQuiz('Intermediate')" detail lines="none">
      <ion-label>
        5. Adult Intermediate quiz
      </ion-label>
     </ion-item>
    </ion-card>
    <ion-card>
    <ion-item button (click)="openQuiz('Novice')" detail lines="none">
      <ion-label>
        6. Adult Novice quiz
      </ion-label>
     </ion-item>
    </ion-card>
    <ion-card>
    <ion-item button (click)="openQuiz('Junior')" detail lines="none">
      <ion-label>
        7. Adult Junior quiz
      </ion-label>
     </ion-item>
    </ion-card>
    <ion-card>
    <ion-item button (click)="openQuiz('Senior')" detail lines="none">
      <ion-label>
        8. Adult Senior quiz
      </ion-label>
     </ion-item>
    </ion-card>
  </div>

  <div class="divSpacingBox" *ngIf="category.includes('adaptive')">
    <ion-card>
    <ion-item button (click)="openQuiz('Adaptive Pre-Bronze')" detail lines="none">
      <ion-label>
        1. Adaptive Pre-Bronze quiz
      </ion-label>
     </ion-item>
    </ion-card>
    <ion-card>
    <ion-item button (click)="openQuiz('Adaptive Bronze')" detail lines="none">
      <ion-label>
        2. Adaptive Bronze quiz
      </ion-label>
     </ion-item>
    </ion-card>
    <ion-card>
    <ion-item button (click)="openQuiz('Adaptive Silver')" detail lines="none">
      <ion-label>
        3. Adaptive Silver quiz
      </ion-label>
     </ion-item>
    </ion-card>
    <ion-card>
    <ion-item button (click)="openQuiz('Adaptive Gold')" detail lines="none">
      <ion-label>
        4. Adaptive Gold quiz
      </ion-label>
     </ion-item>
    </ion-card>
  </div>
</ion-content>

