

// a{
//   text-decoration: none;
// }

// ion-label{
//   padding: 10px;
//   color: #6c6e74;
// }

.divSpacingBox ion-label{
  padding: 5px;
  //color: #6c6e74;
}


ion-segment{
  margin-top: 15px;
  // border-radius: 25px !important;
}

ion-segment-button{
  --background-checked: #355aa6;
  --color-checked: white;
  --indicator-color : transparent!important; /* this solution */
  // border-radius: 25px !important;
}