<ion-header mode="ios">
  <ion-toolbar>
       <ion-title>
         Store
       </ion-title>
   </ion-toolbar>
</ion-header>

<ion-content mode="ios">
  <div class="divSpacingBox">
    <ion-card class="cardOutline" *ngIf="showCardEntireApp">
      <div style="text-align: center;">
        <ion-card-title
          style="margin-top: 15px; margin-right: 15px; margin-left: 15px; margin-bottom: 5px; font-size: 1.4rem">
          Purchase Entire App
        </ion-card-title>
        <p style="color: gray; font-size: 1rem; padding-top: 10px;">Instructional content for all standard and adult levels, and instructional content for all moves in the field turns</p>
      </div>
      <ion-card-content style="padding: 5px; margin-top: 5px;">
        <ion-row *ngIf="showBuyBtnEntireApp">
          <ion-col size="12" style="text-align: center">
            <ion-button class="buyBtn" expand="block" fill="solid" (click)="buyItem('allLevels')">Buy {{allLevelsPrice}}
            </ion-button>
          </ion-col>
          <ion-col>
            <ion-button class="purchasedBtns" expand="block" fill="outline"
              (click)="restoreAlert('allLevels')">Restore Purchase</ion-button>
          </ion-col>
          <ion-col>
            <ion-button class="purchasedBtns" expand="block" fill="outline"
              (click)="promoAlert('allLevels')">Use Promo Code</ion-button>
          </ion-col>
        </ion-row>
        <div *ngIf="showCheckEntireApp" style="text-align: center;">
          <ion-card class="blueCard" style="padding: 20px; font-size: 1rem">
          <ion-icon name="checkmark-circle" style="color: #4c81ee; font-size: 2rem"></ion-icon>
          <p style="font-size: 1.2rem">
            Purchased
          </p>
          
          <p style="font-size: 1.1rem">To view your purchased instructional content for each level, go to the tests page, click on any test, click on any pattern, then click on any of the instructional content buttons.</p>
          <p style="font-size: 1.1rem">To view your purchased instructional content for all turns, go to the turns page, and click on any learn button. Thanks for your purchase!</p>
        </ion-card>
        </div>
      </ion-card-content>
    </ion-card>
    <ion-card style="background-color: #f3f3f3;; text-align: center; padding: 10px; margin-bottom: 15px; margin-left: 0px; margin-right: 0px; border-radius: 0px !important; background-color: #355aa6;" *ngIf="!showCheckEntireApp">
      <ion-label>
        <p style="color: white; font-size: 1rem; padding-bottom: 15px; padding-top: 15px; font-weight: bold">
           Purchase entire app (save ${{saveDollarAmount}})
          <br><br>
          <span style="font-size: 1.3rem">- OR -</span>
          <br><br> 
          Purchase content individually
        </p>
      </ion-label>
    </ion-card>
    <ion-card class="cardOutline" *ngIf="showCardTurns">
      <div style="text-align: center;">
        <ion-card-title
          style="margin-top: 15px; margin-right: 15px; margin-left: 15px; margin-bottom: 5px; font-size: 1.4rem">
          Turn Page <br>Instructional Content
        </ion-card-title>
      </div>
      <ul style="padding-inline-start: 20px; color: #355aa6; margin-top: 10px;">
        <li>
          <p class="includesText">Slow motion videos</p>
        </li>
        <li>
          <p class="includesText">Breakdown of each turn technique</p>
        </li>
        <li>
          <p class="includesText">Exercises for each turn</p>
        </li>
        <li>
          <p class="includesText">On ice drawings of turn tracings</p>
        </li>
        <li>
          <p class="includesText">Definition of each turn</p>
        </li>
        <li>
          <p class="includesText">List of patterns that include each turn</p>
        </li>
      </ul>
      <ion-row *ngIf="showBuyBtnTurns">
        <ion-col size="12" style="text-align: center">
          <ion-button class="buyBtn" expand="block" fill="solid" (click)="buyItem('turns')">Buy {{turnPrice}}
          </ion-button>
        </ion-col>
        <ion-col>
          <ion-button class="purchasedBtns" expand="block"  fill="outline" (click)="restoreAlert('turns')">
            Restore Purchase</ion-button>
        </ion-col>
        <ion-col>
          <ion-button class="purchasedBtns" expand="block"  fill="outline" (click)="promoAlert('turns')">Use
            Promo Code</ion-button>
        </ion-col>
      </ion-row>
      <div *ngIf="showCheckTurns" style="text-align: center;">
        <ion-card class="blueCard" style="padding: 20px; font-size: 1rem">
          <ion-icon name="checkmark-circle" style="color: #4c81ee; font-size: 2rem"></ion-icon>
          <p style="font-size: 1.2rem">
            Purchased 
          </p>
        <p style="font-size: 1.1rem">To view your purchased instructional content, go to the turns page, and click on any learn button. Thanks for your purchase!</p>
        </ion-card>
      </div>
    </ion-card>

    <ion-card class="cardOutline" *ngIf="showCardLevels">
      <div style="text-align: center;">
        <ion-card-title
          style="margin-top: 15px; margin-right: 15px; margin-left: 15px; margin-bottom: 5px; font-size: 1.4rem">
          Test Instructional Content
        </ion-card-title>
      </div>
      <ul style="padding-inline-start: 20px; color: #355aa6; margin-top: 10px;">
        <li>
          <p class="includesText">Technique and variations for patterns</p>
        </li>
        <li>
          <p class="includesText">Slow motion videos for patterns</p>
        </li>
        <li>
          <p class="includesText">Errors & corrections for patterns</p>
        </li>
        <li>
          <p class="includesText">Exercises for test expectations</p>
        </li>
        <li>
          <p class="includesText">Pattern placement for patterns</p>
        </li>
        <li>
          <p class="includesText">How to introduce patterns</p>
        </li>
        <li>
          <p class="includesText">How to know when patterns are ready to test</p>
        </li>
      </ul>
      <div style="text-align: center; color: rgb(250, 96, 96);">
        <p>*Select level below to see price</p>
      </div>
      <ion-item style="margin-bottom: 10px;">
        <ion-label>Select Level</ion-label>
        <ion-select [interfaceOptions]="customActionSheetOptions" interface="action-sheet" [(ngModel)]="levelPicked"
          (ionChange)="selectLevel()">
          <ion-select-option value="Pre-Preliminary">Pre-Preliminary</ion-select-option>
          <ion-select-option value="Preliminary">Preliminary</ion-select-option>
          <ion-select-option value="Pre-Juvenile">Pre-Juvenile</ion-select-option>
          <ion-select-option value="Juvenile">Juvenile</ion-select-option>
          <ion-select-option value="Intermediate">Intermediate</ion-select-option>
          <ion-select-option value="Novice">Novice</ion-select-option>
          <ion-select-option value="Junior">Junior</ion-select-option>
          <ion-select-option value="Senior">Senior</ion-select-option>
          <ion-select-option value="Adult Pre-Bronze">Adult Pre-Bronze</ion-select-option>
          <ion-select-option value="Adult Bronze">Adult Bronze</ion-select-option>
          <ion-select-option value="Adult Silver">Adult Silver</ion-select-option>
          <ion-select-option value="Adult Gold">Adult Gold</ion-select-option>
        </ion-select>
      </ion-item>
      <ion-row *ngIf="showBuyBtnLevels">
        <ion-col size="12" style="text-align: center">
          <ion-button class="buyBtn" expand="block" fill="solid" (click)="buyItem('levels')">Buy {{levelPicked}} for {{instructionalPrice}}
          </ion-button>
        </ion-col>
        <ion-col>
          <ion-button class="purchasedBtns" expand="block"  fill="outline" (click)="restoreAlert('levels')">
            Restore Purchase</ion-button>
        </ion-col>
        <ion-col>
          <ion-button class="purchasedBtns" expand="block"  fill="outline" (click)="promoAlert('levels')">
            Use Promo Code</ion-button>
        </ion-col>
      </ion-row>
      <div *ngIf="showCheckLevels" style="text-align: center;">
        <ion-card class="blueCard" style="padding: 20px; font-size: 1rem">
        <ion-icon name="checkmark-circle" style="color: #4c81ee; font-size: 2rem"></ion-icon>
        <p style="font-size: 1.2rem">
          Purchased {{levelPicked}}
        </p>
        <p style="font-size: 1.1rem">To view your purchased instructional content, go to the tests page, click the {{levelPicked}} test, click on any pattern, then click on any of the instructional content buttons. Thanks for your purchase!</p>
      </ion-card>
      </div>
    </ion-card>
  </div>
</ion-content>