ion-card-subtitle{
    --color: black
}

.descriptionText{
    padding-top:5px;
    font-size: .9rem;
    border-top: solid 1px #e4e4e4;
    margin-left: 5px;
    margin-right: 5px;
    padding-bottom: 0px;
}

.purchaseCards{
    padding: 10px;
}

.itemTitle{
    font-size: 1.2rem;
    font-weight: bold;
}

.buyBtn{
    --background: #355aa6;
    --color: white;
}

.blueCard{
    text-align:center;
    margin: 5px;
    border: rgb(221, 221, 221) solid .25px;
  }

.checkMarkIcon{
    color: #355aa6; 
    font-size: 1.5rem;
    vertical-align: middle;
    margin-right: 5px;
}

.subCheckMarkIcon{
    color: #6885be; 
    font-size: 1rem;
    vertical-align: middle;
    margin-right: 10px;
}

.includesText{
    font-size: 1rem;
    margin-right: 5px;
    color: #858585;
    padding-top: 10px;
}

.purchasedBtns{
    font-size: .7rem;
}
.previewBtn{
    --background: #4c81ee;
    --color: white;
}

.buyBtn{
    --background: #355aa6;
    --color: white;
}

//or sign 
.separator {
    display: flex;
    align-items: center;
    text-align: center;
    color: #000000;
    margin-right: 15px;
    margin-left: 15px;
}
.separator::before, .separator::after {
    content: '';
    flex: 1;
    border-bottom: 1px solid #000000;
    //4c81ee
}
.separator::before {
    margin-right: .25em;
}
.separator::after {
    margin-left: .25em;
}

