.resourceBulletPadding {
    margin-top: 10px;
    text-indent: -1.2em;
    padding-left: 1em;
    font-size: 1rem !important;
    padding-right: 1em;
    margin-bottom: 30px;
    color: #6c6e74;
  }

  ion-label{
    padding: 10px;
    color: #6c6e74;
  }

  a{
      text-decoration: none;
  }

  h1{
    margin-bottom: 5px;
  }