<ion-header mode="ios">
  <ion-toolbar>
    <button backButton class="backBtn" (click)="goBack()">
      <p>
        <ion-icon name="close" style="font-size: 20px"></ion-icon>
      </p>
    </button>
    <ion-title *ngIf="item == 'formResource'">Judges Form</ion-title>
    <ion-title *ngIf="item == 'testResource'">Skater Checklist</ion-title>
    <ion-title *ngIf="item == 'handbookResource'">Judges Handbook</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content mode="ios">
  <div  *ngIf="item.length > 0">
    <div *ngIf="item == 'formResource'">
      <div style="padding-left:20px; padding-right: 20px; margin-top: 40px;">
          <p class="resourceBulletPadding">1. Click link to open in browser: <a href="{{testFormsURL}}">{{testFormsURL}}</a></p>
          <p class="resourceBulletPadding">2. Sign in to U.S. Figure Skating website</p>
          <p class="resourceBulletPadding">3. Scroll down and click Moves in the Field </p>
      </div>
    </div>
  
    <div *ngIf="item == 'testResource'">
      <div style="padding-left:20px; padding-right: 20px; margin-top: 40px;">
        <div>
          <p class="resourceBulletPadding">1. Click link to open in browser: <a href="{{checkListURL}}">{{checkListURL}}</a></p>
          <p class="resourceBulletPadding">2. Sign in to U.S. Figure Skating website</p>
        </div>
      </div>
    </div>

    <div *ngIf="item == 'handbookResource'">
      <div style="padding-left:20px; padding-right: 20px; margin-top: 40px;">
        <div>
          <p class="resourceBulletPadding">1. Click link to open in browser: <a href="{{judgePointsURL}}">{{judgePointsURL}}</a></p>
          <p class="resourceBulletPadding">2. Sign in to U.S. Figure Skating website</p>
        </div>
      </div>
    </div>
  </div>
</ion-content>
