<ion-header mode="ios">
  <ion-toolbar>
    <button backButton class="backBtn" (click)="goBack()">
           <p>
            <ion-icon name="close" style="font-size: 1.4rem"></ion-icon>
           </p>
         </button>
  </ion-toolbar>
</ion-header>

<ion-content mode="ios">
  <div class="divSpacingBox">
    <ion-card *ngIf="isIpad">
      <ion-card-content>
        To play videos fullscreen on iPad, click the title of the video and it will open the video in YouTube. From YouTube, you can watch the video fullscreen. Videos play fullscreen on iPhones, but not on iPads right now. Sorry for the inconvenience!
      </ion-card-content>
    </ion-card>

    <ion-segment *ngIf="turnTitle2 != null" value="open" scrollable="true" mode="ios" [(ngModel)]="segmentModel"
      (ionChange)="segmentChanged($event)">

      <ion-segment-button value="open">
        <ion-label>{{turnTitle1}}</ion-label>
      </ion-segment-button>

      <ion-segment-button value="closed">
        <ion-label>{{turnTitle2}}</ion-label>
      </ion-segment-button>
    </ion-segment>

    <!-- right foot -->
    <div class="blueTitlePadding">
      <div class="titleUnderlinedInBlue" *ngIf="(!turnName.includes('Mohawk') && !turnName.includes('Choctaw'))">Right <span style="text-transform: lowercase;">{{turnName}}</span></div>
      <div class="titleUnderlinedInBlue" *ngIf="(turnName.includes('Mohawk') || turnName.includes('Choctaw'))">Right to left <span style="text-transform: lowercase;">{{turnName}}</span></div>
      <div style="border-bottom: #4c81ee solid; width: 10%"></div>
    </div>
 
    <ion-card>
      <ion-card-content class="iframeBox">
      <iframe style="width:100%; border-radius: 10px; " *ngIf="turnTitle1Select" [src]="this.video1" class="iframeSize" frameborder="0" allowfullscreen></iframe>
      <iframe style="width:100%; border-radius: 10px; " *ngIf="turnTitle2Select" [src]="this.video1Closed" class="iframeSize" frameborder="0" allowfullscreen></iframe>
    </ion-card-content>
  </ion-card>

    <!-- left foot -->
    <div class="blueTitlePadding">
      <div class="titleUnderlinedInBlue" *ngIf="(!turnName.includes('Mohawk') && !turnName.includes('Choctaw'))">Left <span style="text-transform: lowercase;">{{turnName}}</span></div>
      <div class="titleUnderlinedInBlue" *ngIf="(turnName.includes('Mohawk') || turnName.includes('Choctaw'))">Left to right <span style="text-transform: lowercase;">{{turnName}}</span></div>
      <div style="border-bottom: #4c81ee solid; width: 10%"></div>
    </div>

    <ion-card>
      <ion-card-content class="iframeBox">
      <iframe style="width:100%; border-radius: 10px; " *ngIf="turnTitle1Select" [src]="this.video2" class="iframeSize" frameborder="0" allowfullscreen></iframe>
      <iframe style="width:100%; border-radius: 10px; " *ngIf="turnTitle2Select" [src]="this.video2Closed" class="iframeSize" frameborder="0" allowfullscreen></iframe>
    </ion-card-content>
  </ion-card>

      <ion-grid *ngIf="turnTitle1Select">
        <ion-row *ngIf="note != null">
          <ion-col class="noteBackground">
            <p>{{note}}</p>
          </ion-col>
        </ion-row>
      </ion-grid>

    <div class="blueTitlePadding">
      <div class="titleUnderlinedInBlue">Technique</div>
      <div style="border-bottom: #4c81ee solid; width: 10%; margin-bottom: 12px;"></div>
    </div>
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-card (click)="openTechnique('head')" class="blueCard">
            <p class="techniqueCard">Head</p>
          </ion-card>
        </ion-col>
        <ion-col>
          <ion-card (click)="openTechnique('upper')" class="blueCard">
            <p class="techniqueCard">Upper Body</p>
          </ion-card>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <ion-card (click)="openTechnique('skating')" class="blueCard">
            <p class="techniqueCard">Skating Leg</p>
          </ion-card>
        </ion-col>
        <ion-col>
          <ion-card (click)="openTechnique('free')" class="blueCard">
            <p class="techniqueCard">Free Leg</p>
          </ion-card>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <ion-card (click)="openTechnique('weight')" class="blueCard">
            <p class="techniqueCard">Blade</p>
          </ion-card>
        </ion-col>
        <ion-col>
          <ion-card class="blueCard" (click)="openTechnique('tracing')">
            <p class="techniqueCard">Tracing</p>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>

    <div *ngIf="varCapVideo != null">
    <div class="blueTitlePadding">
      <div class="titleUnderlinedInBlue">Videos of Important Concepts</div>
      <div style="border-bottom: #4c81ee solid; width: 10%"></div>
    </div>
 
    <ion-card>
      <ion-card-content class="iframeBox">
              <iframe style="width:100%; border-radius: 10px;" [src]="this.varCapVideo" class="iframeSize" frameborder="0" allowfullscreen></iframe>
            </ion-card-content>
          </ion-card>

          <ion-card>
            <ion-card-content class="iframeBox">
              <iframe style="width:100%; border-radius: 10px;" [src]="this.varCircleTheoryVideo" class="iframeSize" frameborder="0" allowfullscreen></iframe>
            </ion-card-content>
          </ion-card>
  </div>

  <div *ngIf="tips != null">
  <div class="blueTitlePadding">
    <div class="titleUnderlinedInBlue">Exercises</div>
    <div style="border-bottom: #4c81ee solid; width: 10%; margin-bottom: 12px;"></div>
  </div>
    <ion-card class="cardOutline" *ngFor="let tip of tips">
      {{tip}}
    </ion-card>
  </div>

  <div class="blueTitlePadding">
    <div class="titleUnderlinedInBlue">Definition</div>
    <div style="border-bottom: #4c81ee solid; width: 10%; margin-bottom: 12px;"></div>
  </div>
      <ion-card class="cardOutline">
        <p><b>Feet: </b>{{feet}}</p>
      </ion-card>
      <ion-card class="cardOutline" *ngIf="edge.length != 0">
        <p ><b>Edge: </b>{{edge}}</p>
      </ion-card>
      <ion-card class="cardOutline" *ngIf="lobe.length != 0">
        <p ><b>Lobe: </b>{{lobe}}</p>
      </ion-card>
      <ion-card class="cardOutline" *ngIf="turnDirection.length != 0">
        <p ><b>Turn direction: </b>{{turnDirection}}</p>
      </ion-card>
      <ion-card class="cardOutline" *ngIf="turnPoint.length != 0">
        <p ><b>Turn: </b>{{turnPoint}}</p>
      </ion-card>
      <ion-card class="cardOutline" *ngIf="turnSize.length != 0">
        <p ><b>Size: </b>{{turnSize}}</p>
      </ion-card>
      <ion-card class="cardOutline"  *ngIf="((turnTitle1Select) && (turnTitle2 != null)) || ((turnTitle1Select) && (turnName.includes('Mohawk'))) || ((turnTitle1Select) && (turnName.includes('Choctaw')))">
        <p>
          <b *ngIf="turnName.includes('Mohawk')">Open Mohawk: </b>
          <b *ngIf="turnName.includes('Choctaw')">Open Choctaw: </b>
          {{openTurnDefinition}}</p>
      </ion-card>
      <ion-card class="cardOutline" *ngIf="(turnTitle2Select) && (turnTitle2 != null) && (!turnName.includes('Mohawk'))">
        <p><b>{{turnTitle2}}:
        </b>{{closedTurnDefinition}}</p>
      </ion-card>

      <div class="blueTitlePadding">
        <div class="titleUnderlinedInBlue">Problem solving</div>
        <div style="border-bottom: #4c81ee solid; width: 10%; margin-bottom: 12px;"></div>
      </div>
      <ion-card class="cardOutline">
       Video your turn and look for correct technique
      </ion-card>
      <ion-card class="cardOutline">
        Watch side by side video of your turn and the demonstration video
      </ion-card>
      <ion-card class="cardOutline">
       Compare your turn tracing to the one in the app
      </ion-card>


      <div class="blueTitlePadding">
        <div class="titleUnderlinedInBlue" *ngIf="levelArray.length > 1">Tests this turn is in</div>
        <div class="titleUnderlinedInBlue" *ngIf="levelArray.length == 1">Test this turn is in</div>
        <div style="border-bottom: #4c81ee solid; width: 10%; margin-bottom: 12px;"></div>
      </div>
      <ion-card class="cardOutline">
        <div *ngIf="turnTitle1Select">
          <ul *ngFor="let level of levelArray" style="padding-inline-start: 20px;">
            <li>{{level}}</li>
          </ul>
        </div>
        <div *ngIf="turnTitle2Select">
          <ul *ngFor="let level of closedLevelArray" style="padding-inline-start: 20px;">
            <li>{{level}}</li>
          </ul>
        </div>
      </ion-card>
  </div>
</ion-content>