.noteBackground{
    margin: 5px 10px 0px 10px;
    text-align: center;
    border-radius: 5px;
}

.noteBackground p{
    margin: 0px;
    font-size: .6rem;
    padding: 0px;
}

.blueCard{
    text-align:center;
    margin: 5px;
}

.techniqueCard{
  margin: 10px;
  font-size: 1rem;
  padding:5px;
}

.cardOutline p{
  margin: 0px;
}

.otherCards{
  text-align:center;
    margin: 5px;
    background-color: #ffffff;
    color: rgb(27, 27, 27);
}

video{
    display: block;
    object-fit: fill;
}

.tracingVideo{
    height: 100px
}

@media only screen and (min-width: 700px) {
    .tracingVideo{
        height: 200px
    }
  }

  ion-segment{
    margin: 20px;
  }

  .video-thumbnail {
    position: relative;
    display: inline-block;
  }
  .video-thumbnail img {
    width: 100%;
    height: auto;
  }
 