.techniqueBulletPadding {
    margin-bottom: 0px;
    font-size: 1rem;
    padding: 15px;
    line-height: 1.6
  }

  .gotItBtn{
    --padding-start: 40px;
    --padding-end: 40px;
    --background: var(--ion-color-darkBlue);
  }

  ion-card-content{
    line-height: 1.7;
  }

  ion-card-header{
    padding-top: 10px;
    padding-bottom: 10px;
  }