<ion-header mode="ios" class="ion-no-border">
  <ion-toolbar>
    <button backButton class="backBtn" (click)="goBack()">
           <p>
            <ion-icon name="close" style="font-size: 1.4rem"></ion-icon>
           </p>
         </button>
  </ion-toolbar>
</ion-header>

<ion-content mode="ios">
  <div class="divSpacingBox">
    <div class="blueTitlePadding" >
      <div class="titleUnderlinedInBlue">{{body}}</div>
      <div style="border-bottom: #4c81ee solid; width: 10%; margin-top:5px; margin-bottom: 5px;"></div>
    </div>
    <div *ngIf="this.techniqueDescription.length > 3">
      <div *ngFor="let item of this.techniqueDescription.split('.'); let i = index">
  <ion-card *ngIf="item.length > 2">
      <p  class="techniqueBulletPadding">
        <span style="font-weight: bold;">{{i+1}}.</span>
        {{item}}.
      </p>
  </ion-card>
</div>
</div>
    <div *ngIf="this.techniqueDescription.length == 0" style="margin: 10px;">
      <iframe style="width:100%; border-radius: 10px;" [src]="tracingVideo" class="iframeSize" frameborder="0" allowfullscreen></iframe>
    </div>
</div>
</ion-content>
