<ion-header mode="ios">
  <ion-toolbar>
    <button backButton class="backBtn" (click)="goBack()">
           <p>
            <ion-icon name="close" style="font-size: 1.4rem"></ion-icon>
           </p>
         </button>
  </ion-toolbar>
</ion-header>

<ion-content mode="ios">
  <!-- <ion-fab slot="fixed" horizontal="end" vertical="top">
    <ion-fab-button (click)="goBack()"  size="small" color="light">
      <ion-icon name="close" style="font-size: 1.3rem; padding-top: 0px"></ion-icon>
    </ion-fab-button>
  </ion-fab> -->

  <div class="divSpacingBox" *ngIf="blade != null">

    <ion-segment [value]="chosen" mode="ios" scrollable="true" (ionChange)="segmentChanged($event)" *ngIf="numParts.length > 1">
      <ion-segment-button *ngFor="let num of numParts; let n = index" [value]="num">
        <ion-label>Part {{n+1}}</ion-label>
      </ion-segment-button>
    </ion-segment>
    <div class="blueTitlePadding" style="margin-top: 20px !important">
      <h1 class="titleUnderlinedInBlue">Slow Motion Video</h1>
      <ion-card-subtitle style="text-transform: capitalize;">{{techniqueTitle}}</ion-card-subtitle>
      <div style="border-bottom: #4c81ee solid; width: 10%"></div>
    </div>
    <ion-card>
      <ion-card-content class="iframeBox">
    <iframe style="width:100%; border-radius: 10px;" [src]="slowVideo" class="iframeSize" frameborder="0" allowfullscreen></iframe>
  </ion-card-content>
</ion-card>

    <div class="blueTitlePadding" >
      <h1 class="titleUnderlinedInBlue">In video watch for:</h1>
      <div style="border-bottom: #4c81ee solid; width: 10%"></div>
    </div>
    <div *ngFor="let w of watchFor; let i = index">
    <ion-card class="cardOutline" *ngIf="w.length > 3">
        <span style="line-height: 1.6;">{{w}}</span>
    </ion-card>
  </div>

  <div class="blueTitlePadding" >
    <h1 class="titleUnderlinedInBlue">Where is weight on blade?</h1>
    <div style="border-bottom: #4c81ee solid; width: 10%"></div>
  </div>
  <div *ngFor="let b of blade;">
    <ion-card class="cardOutline" *ngIf="b.length > 3">
        <span style="line-height: 1.6;">{{b}}</span>
    </ion-card>
  </div>

  <div *ngIf="(variation[arrayIndex] != 'N/A') && (variation != undefined) && (variation != 'N/A') && (variation[arrayIndex] != undefined)">
  <div class="blueTitlePadding" >
    <h1 class="titleUnderlinedInBlue">Variations:</h1>
    <div style="border-bottom: #4c81ee solid; width: 10%"></div>
  </div>
  <div *ngFor="let v of variation;">
    <ion-card class="cardOutline" *ngIf="v.length > 3">
        <span style="line-height: 1.6;">{{v}}</span>
    </ion-card>
  </div>
  </div>

  <div *ngIf="(moreTechniqueInfo[arrayIndex] != 'N/A') && (moreTechniqueInfo != undefined) && (moreTechniqueInfo != 'N/A') && (moreTechniqueInfo[arrayIndex] != undefined)">
  <div class="blueTitlePadding" >
    <h1 class="titleUnderlinedInBlue">More details:</h1>
    <div style="border-bottom: #4c81ee solid; width: 10%"></div>
  </div>
  <div *ngFor="let m of moreTechniqueInfo;">
    <ion-card class="cardOutline" *ngIf="m.length > 3">
          <span  style="line-height: 1.6;">{{m}}</span>
    </ion-card>
  </div>
  </div>
  </div>
</ion-content>

