<ion-header mode="ios">
  <ion-toolbar>
    <button backButton class="backBtn" (click)="goBack()">
           <p>
            <ion-icon name="close" style="font-size: 1.4rem"></ion-icon>
           </p>
         </button>
  </ion-toolbar>
</ion-header>

<ion-content mode="ios">
  <div class="divSpacingBox">
    <!-- run through list of bullets -->
    <div *ngFor="let item of bullets; let i = index" style="margin-bottom: 30px;">

      <!-- expectation card -->
      <ion-card style="background-color:#355aa6; margin-right: 15px; margin-left: 15px;">
        <p class="expectationLabel">
          <span style="color: white; font-weight: bold; font-size: 1rem">Expectation #{{i+1}}:</span>
          <br>
          <span style="color: white;">{{item}}</span>
        </p>
      </ion-card>

      <!-- loop through exerccise split array  -->
        <div *ngFor="let array of exerciseSplitArray; let n = index">
          <!-- i is the expectation array index, and the split array has 2 values per array index so it gets first two values  -->
          <div *ngIf="n == i">
            <!-- loop through those first two values -->
            <div *ngFor="let exercise of array; let e = index">
              <ion-card class="exerciseCard">
                <div style="margin-left: 15px;">
                  <p style="font-size: 1.1rem; font-weight: bold; margin-bottom: 5px; margin-top: 20px;">
                    Exercise #{{e+1}}
                  </p>
                  <div style="border-bottom: #4c81ee solid; width: 10%; margin-top: 5px;"></div>
                </div>
                <ion-row>
                  <p style="font-size: 1rem; margin: 15px; line-height: 1.6; margin-bottom: 23px;">
                    {{exercise}}
                  </p>
                </ion-row>

                      <!-- if video if null -->
                      <ion-row style="border-top: rgb(209, 209, 209) solid .5px" *ngIf="exerciseVideosSplitArray[n][e] == 'null'">
                        <ion-button fill="clear" size="small" class="videoBtn">
                          <ion-icon name="play-circle-outline" style="padding-right: 5px;"></ion-icon>
                          Video coming soon 
                        </ion-button>
                      </ion-row>

                      <div
                        *ngIf="(exerciseVideosSplitArray[n][e] != 'null') && (exerciseVideosSplitArray[n][e] != 'N/A')" class="iframeBox">
                        <iframe style="width:100%; border-radius: 10px;" [src]="exerciseVideosSplitArray[n][e]" class="iframeSize" frameborder="0" allowfullscreen></iframe>
                      </div>
                      <!-- if video is not null or N/A -->
              </ion-card>
            </div>
          </div>
        </div>
    </div>
  </div>
</ion-content>