ion-card-header{
    padding-bottom: 5px;
    margin-bottom: 10px;
}

ion-button{
    margin-top: 15px;
}

ion-card-content{
    padding-left: 0px;
}

ion-card{
    margin-left: 0px;
    margin-right: 0px;
}

.expectationLabel{
    margin: 15px;
  }

  .exerciseCard{
    margin-right: 15px; 
    margin-left: 15px;
  }

  .videoBtn{
      margin-top: 10px;
      margin-bottom: 10px;
  }