<ion-header mode="ios">
  <ion-toolbar>
    <button backButton class="backBtn" (click)="cancel()">
      <p>
        <ion-icon name="close" style="font-size: 20px"></ion-icon>
      </p>
    </button>
    <ion-title></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content mode="ios">

<div mode="ios">
  <ion-card class="cardOutline" style="margin-bottom: 5px">
    <div style="text-align: center;">
      <ion-card-title style="margin: 15px; font-size: 1.4rem">
        {{productDisplayName}}
      </ion-card-title>
    </div>
    <ion-card-content style="padding: 5px;">
      <p *ngFor="let item of unlockBullets"><ion-icon name="checkmark-circle" class="checkMarkIcon"></ion-icon>{{item}}</p>
      <ion-row>
        <ion-col size="12" *ngIf="productType == 'checklist'">
          <ion-button class="buyBtn" expand="block" fill="solid" (click)="buyItem('individualPurchase')">Buy turn content {{price}}</ion-button>
        </ion-col>
        <ion-col size="12" *ngIf="(productType != 'quiz') && (productType != 'checklist')">
          <ion-button class="buyBtn" expand="block" fill="solid" (click)="buyItem('individualPurchase')">Buy {{testName}} content {{price}}</ion-button>
        </ion-col>
        <ion-col>
          <ion-button class="purchasedBtns" expand="block" fill="outline" (click)="restoreAlert('individualPurchase')">Restore Purchase</ion-button>
        </ion-col>
        <ion-col>
          <ion-button class="purchasedBtns" expand="block" fill="outline" (click)="promoAlert('individualPurchase')">Use Promo Code</ion-button>
        </ion-col>
      </ion-row>
    </ion-card-content>
    </ion-card>

<ion-card style="background-color: #f3f3f3;; text-align: center; padding: 10px; margin-bottom: 15px; margin-left: 0px; margin-right: 0px; border-radius: 0px !important; background-color: #355aa6;">
  <ion-label>
    <p style="color: white; font-size: 1rem; padding-bottom: 15px; padding-top: 15px; font-weight: bold">
      Purchase content above
      <br><br>
      <span style="font-size: 1.3rem">- OR -</span>
      <br><br> 
      Purchase entire app (save ${{saveDollarAmount}})
    </p>
  </ion-label>
</ion-card>

      <ion-card class="cardOutline" style="margin-top: 5px">
          <div style="text-align: center;">
            <ion-card-title style="margin-top: 15px; margin-right: 15px; margin-left: 15px; margin-bottom: 5px; font-size: 1.4rem">
              Purchase Entire App
            </ion-card-title>
            <span style="color: gray; font-size: .6rem">*includes below content for ALL standard and adult levels</span>
          </div>
          <ion-card-content style="padding: 5px; margin-top: 5px;">
          <p style="font-weight: bold"><ion-icon name="checkmark-circle" class="checkMarkIcon"></ion-icon>Instructional content for all levels</p>
          <div style="padding-right: 5px;">
            <ul style="padding-inline-start: 20px; margin-top: 0px; margin-left: 30px">
              <li>
                <p class="includesText">Technique and variations for all patterns</p>
              </li>
              <li>
                <p class="includesText">Slow motion videos for all patterns</p>
              </li>
              <li>
                <p class="includesText">Errors & corrections for all patterns</p>
              </li>
              <li>
                <p class="includesText">Exercises for each test expectation</p>
              </li>
              <li>
                <p class="includesText">Pattern placement for all patterns</p>
              </li>
              <li>
                <p class="includesText">How to know when ready to test</p>
              </li>
            </ul>
          </div>
          <p style="font-weight: bold"><ion-icon name="checkmark-circle" class="checkMarkIcon"></ion-icon>Instructional content for all MITF turns</p>
          <div style="padding-right: 5px;">
            <ul style="padding-inline-start: 20px; margin-top: 0px; margin-left: 30px">
              <li>
                <p class="includesText">Slow motion videos of all turns with strap</p>
              </li>
              <li>
                <p class="includesText">Breakdown of each turn technique</p>
              </li>
              <li>
                <p class="includesText">Exercises for each turn</p>
              </li>
              <li>
                <p class="includesText">On ice drawings of turn tracings</p>
              </li>
              <li>
                <p class="includesText">Definition of each turn</p>
              </li>
              <li>
                <p class="includesText">List of patterns that include each turn</p>
              </li>
            </ul>
          </div>
          <ion-row>
          <ion-col size="12" style="text-align: center">
          <ion-button class="buyBtn" expand="block" fill="solid" (click)="buyItem('allLevels')">Buy entire app {{allLevelsPrice}}</ion-button>
          <span style="color: rgb(250, 96, 96); font-size: .8rem; padding-top:3px; padding-bottom:3px;">*Regularly ${{regularValue}} value</span>
        </ion-col>
        <ion-col>
          <ion-button class="purchasedBtns" expand="block" fill="outline" (click)="restoreAlert('allLevels')">Restore Purchase</ion-button>
        </ion-col>
        <ion-col>
          <ion-button class="purchasedBtns" expand="block" fill="outline" (click)="promoAlert('allLevels')">Use Promo Code</ion-button>
        </ion-col>
      </ion-row>
    </ion-card-content>
  </ion-card>
</div>
</ion-content>

