.checkMarkIcon{
    color: #355aa6; 
    font-size: 1.5rem;
    vertical-align: middle;
    margin-right: 5px;
}

.subCheckMarkIcon{
    color: #6885be; 
    font-size: 1rem;
    vertical-align: middle;
    margin-right: 10px;
}

.includesText{
    font-size: .8rem;
    margin-right: 5px;
}

.purchasedBtns{
    font-size: .7rem;
}
.previewBtn{
    --background: #4c81ee;
    --color: white;
}

.buyBtn{
    --background: #355aa6;
    --color: white;
}
  
