<ion-header mode="ios">
  <ion-toolbar>
    <button backButton class="backBtn" (click)="goBack()">
           <p>
            <ion-icon name="close" style="font-size: 1.4rem"></ion-icon>
           </p>
         </button>
  </ion-toolbar>
</ion-header>

<ion-content mode="ios">
  <div class="divSpacingBox">
  <div *ngFor="let item of errorsArray; let i = index">
    <div *ngFor="let error of item.errors; let e = index">
    <ion-card style="text-align: center; margin-bottom: 50px;"> 
      <ion-card-header style='background-color: rgb(250, 168, 168);'>
      <ion-card-subtitle style="color: black; font-size: 1.2rem; text-transform: capitalize">Error</ion-card-subtitle>
        <p style="color: rgb(72, 72, 72); font-size: 1.2rem; padding: 15px; margin-bottom: 0px;">{{error}}</p>
      </ion-card-header>
      <ion-card-content style='background-color: rgb(180, 226, 180); padding-top: 20px;'>
        <ion-card-subtitle style="color: black; font-size: 1.2rem; text-transform: capitalize">Correction</ion-card-subtitle>
          <p style="color: rgb(72, 72, 72); font-size: 1.2rem; padding: 15px;">{{item.corrections[e]}}</p>
      </ion-card-content>
    </ion-card>
  </div>
  </div>
  </div>
</ion-content>
