ion-card-title{
    color: black;
    font-size: 1.1rem;
}

ion-card-header{
    padding-bottom: 5px;
}

ion-button{
    margin-top: 15px;
}

ion-card-content{
    padding-left:0px;
    padding-right:0px;
}