<ion-content>
  <ion-tabs style="--background: transparent !important">
    <ion-tab-bar slot="bottom">
      <ion-tab-button tab="home" (click)="goHome()"> 
        <ion-icon name="clipboard" *ngIf="home" style="color: white"></ion-icon>
        <ion-icon name="clipboard-outline" *ngIf="!home"></ion-icon>
        <ion-label *ngIf="!home">Tests</ion-label>
        <ion-label *ngIf="home" style="color: white">Tests</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="turns" (click)="goTurns()">
        <ion-icon name="navigate-circle-outline" *ngIf="!turn"></ion-icon>
        <ion-icon name="navigate-circle" *ngIf="turn" style="color: white"></ion-icon>
        <ion-label *ngIf="!turn">Turns</ion-label>
        <ion-label style="color: white" *ngIf="turn">Turns</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="new" (click)="goStore()" >
        <ion-icon name="storefront-outline" *ngIf="!store"></ion-icon>
        <ion-icon name="storefront" *ngIf="store" style="color: white"></ion-icon>
        <ion-label *ngIf="!store">Store</ion-label>
        <ion-label style="color: white" *ngIf="store">Store</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="rulebook" (click)="goQuiz()" >
        <ion-icon name="checkmark-circle-outline" *ngIf="!quiz"></ion-icon>
        <ion-icon name="checkmark-circle" *ngIf="quiz" style="color: white"></ion-icon>
        <ion-label *ngIf="!quiz">Quiz</ion-label>
        <ion-label style="color: white" *ngIf="quiz">Quiz</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="connect" (click)="goResources()" >
        <ion-icon name="book-outline" *ngIf="!resources"></ion-icon>
        <ion-icon name="book" *ngIf="resources" style="color: white"></ion-icon>
        <ion-label *ngIf="!resources">Resources</ion-label>
        <ion-label style="color: white" *ngIf="resources">Resources</ion-label>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>

</ion-content>
