ion-label{
    margin-bottom: 10px;
}

ion-icon{
    margin-top: 5px;
}

// .tab-selected{
//    color: white !important;
//    //border-radius: 25px;
//  }

 ion-tab-bar{
   --background:var(--ion-color-darkBlue);;
  //  border-top: transparent;
 }

 ion-tabs{
  --background:var(--ion-color-darkBlue);;
 }

 ion-tab-button{
   //color: rgb(196, 196, 196);
   color: #d2d2d2;
   --background: var(--ion-color-darkBlue);;
 }

 .tabCircle{
  border-radius: 50px; 
  height: 50px; 
  background-color: #355aa6; 
  width: 50px; 
  display:inline-block;
  position: relative;
  z-index: 99;
  // top: 60%;
 }

 .selectedBtnText{
   color: white;
   top: 20%;
   position: relative;
   font-size: .9rem;
   font-weight: bold;
 }

 .circleIcon{
  color: white; 
  font-size: 1.3rem; 
  top: 15%; 
  position: relative;
 }

  