
h3{
    margin-bottom: 0px;
    margin-top: 5px;
}

p{
    margin-top: 5px;
    color: #6c6e74;
}

a{
    text-decoration: none;
}

ion-icon {
    display: inline-block;
    font-size: 1.2rem;
    vertical-align: middle;
    padding-right: 5px;
    color: #4c81ee;
   }
   
   .text{
     display: inline-block;
     vertical-align: middle;
   }

   ion-label{
    padding: 10px;
    color: #6c6e74;
  }

  .followBtns{
 padding-bottom: 6px;
 padding-top: 6px;
  }

  .socialCard{
        margin-right: 12px; 
        margin-left: 12px;
        margin-top: 20px;
  }

  .appIconImg{
      border-radius: 5px;
      margin-right: 12px;
      float: left;
  }

  .appTxt{
   margin-top: 6px;
  }
   