<ion-header mode="ios">
<ion-toolbar>
  <ion-title>
    Resources
  </ion-title>
</ion-toolbar>
</ion-header>

<ion-content mode="ios">
      <ion-card class="cardOutline" style="padding-bottom: 0px;">
        <ion-avatar style="display: block; margin: auto; height:80px; width: 80px;">
          <img src="../assets/imgs/Coach Dana Tang.jpg">
        </ion-avatar>
      <div style=" text-align: center; margin-top:10px;">
      <h3>Hi, I'm Dana Tang.</h3>
      <p>I coach skating and code apps and websites. Please let me know if you ever have feedback or questions.</p>
    </div>
      </ion-card>

      <div class="blueTitlePadding">
        <h1 class="titleUnderlinedInBlue">Connect</h1>
        <div style="border-bottom: #4c81ee solid; width: 10%"></div>
      </div> 
      <ion-card class="socialCard">
          <ion-item button detail lines="none" (click)="openInstagram()">
              <ion-label class="followBtns">
                  <ion-icon name="logo-instagram"></ion-icon>
                  <span class="text">@apps_for_figure_skaters</span>
                </ion-label>
              </ion-item>
      </ion-card>
      <ion-card class="socialCard">
          <ion-item button detail lines="none" (click)="openFacebook()">
            <ion-label class="followBtns">
                  <ion-icon name="logo-facebook"></ion-icon>
                  <span class="text">@appsforfigureskaters</span>
                  </ion-label>
              </ion-item>
      </ion-card>
      <ion-card class="socialCard">
          <ion-item button detail lines="none" (click)="openYoutube()">
            <ion-label class="followBtns">
                  <ion-icon name="logo-youtube"></ion-icon>
                  <span class="text">YouTube</span>
                  </ion-label>
              </ion-item>
      </ion-card>
      <ion-card class="socialCard">
          <ion-item button detail lines="none" (click)="openWebsite()">
            <ion-label class="followBtns">
                  <ion-icon name="desktop-outline"></ion-icon>
                  <span class="text">Website</span>
                  </ion-label>
              </ion-item>
      </ion-card>

      <div class="blueTitlePadding">
        <h1 class="titleUnderlinedInBlue">Other Apps</h1>
        <div style="border-bottom: #4c81ee solid; width: 10%"></div>
      </div> 
      <ion-card class="socialCard">
        <ion-item button detail lines="none" (click)="openEdgeApp()">
            <ion-label class="followBtns">
              <img width="30px" src="../assets/imgs/edgeApp.png" class="appIconImg"> 
                <span class="text appTxt">Edge Exercise App</span>
              </ion-label>
            </ion-item>
    </ion-card>

    <ion-card class="socialCard">
        <ion-item button detail lines="none" (click)="openMotivationApp()">
          <ion-label class="followBtns">
            <img width="30px" src="../assets/imgs/sk8MIcon.png" class="appIconImg"> 
                <span class="text appTxt">Sk8 Motivation App</span>
                </ion-label>
            </ion-item>
    </ion-card>


<div class="divSpacingBox">  
  <div class="blueTitlePadding">
    <h1 class="titleUnderlinedInBlue">Resources</h1>
    <p style="margin-top: 0px; margin-bottom: 5px; color: #d45b5b">*Some links require U.S. Figure Skating login</p>
    <div style="border-bottom: #4c81ee solid; width: 10%"></div>
  </div> 
              <ion-card >
              <ion-item button  detail lines="none" (click)="openJudgeForm()">
                <ion-label style="padding: 5px;" class="ion-text-wrap">
                  Judges Form
                </ion-label>
              </ion-item>
              </ion-card>
              
              <ion-card>
              <ion-item button  detail lines="none" (click)="openJudgePoints()">
                <ion-label style="padding: 5px;" class="ion-text-wrap">
                  Judges Handbook
                </ion-label>
              </ion-item>
          </ion-card>

            <ion-card>
              <ion-item button  detail lines="none" (click)="openSkaterChecklist()">
                <ion-label style="padding: 5px;" class="ion-text-wrap">
                  Skater Checklist
                </ion-label>
              </ion-item>
          </ion-card>

            <ion-card >
              <ion-item detail lines="none" (click)="openRulebook()">
                    <ion-label style="padding: 5px;" class="ion-text-wrap">
                      Full Rulebook
                    </ion-label>
              </ion-item>
              </ion-card>
                
              <div class="blueTitlePadding">
                <h1 class="titleUnderlinedInBlue"><b>Specific rulebook MITF pages</b></h1>
                <div style="border-bottom: #4c81ee solid; width: 10%"></div>
              </div> 
                <ion-card  *ngFor="let page of rulebookPages">
                  <div>
                    <ion-item detail="true" lines="none" (click)="openSpecificPage(page)">
                          <ion-label style="padding: 5px;" class="ion-text-wrap">{{page.topic}}</ion-label>
                    </ion-item>
                  </div>
                 </ion-card>  
            </div>
</ion-content>


