ion-select{
    border: rgb(189, 189, 189) solid .5px;
    border-radius: 10px;
    margin-bottom: 20px;
}

ion-item-divider{
  --background: transparent;
  word-wrap: break-word;
//--background: #2e5197;
 //--color: #4c81ee;
}

h5{
  margin-top: 10px;
  font-size: 1rem;
}

.questionSection{
    margin-bottom: 30px;
}

.paddingIWant{
    padding-left: 20px; 
    padding-right: 20px; 
    margin-top: 30px;
    text-align: center;
}

.quizLabels{
    padding-top: 10px; 
    padding-bottom: 10px;
    font-size: .9rem;
}

.quizCard{
    margin-left: 40px; 
    margin-right: 40px; 
    border: #d6d6d6 solid .5px;
}

.quizBtns{
    --background: #4c81ee;
    --color: white;
    margin-bottom: 15px;
    margin-top: 15px;
}

.quizBtnsBottom{
  --background: #3a3a3a;
  --color: white;
  margin-bottom: 10px;
}


// cool styling for drag and drop
.example-container {
    width: 100%;
    max-width: 100%;
    margin: 0 25px 0px 0;
    display: inline-block;
    vertical-align: top;
  }
  
  .example-list {
    margin-left: 0px 30px 0px 30px;
    //#d6d6d6
    //#4c81ee
    border: #ccc solid 1px;
    min-height: 45px;
    //background: white;
    border-radius: 4px;
    overflow: hidden;
    display: block;
    
  }
  
  .example-box {
    padding: 10px 10px;
    border-bottom: solid 1px #ccc;
    // color: rgba(0, 0, 0, 0.87);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    cursor: move;
    // background: white;
    font-size: .9rem;
    // background: #4c81ee;
    // color: white;
    //font-weight: bold;
  }
  
  .cdk-drag-preview {
    box-sizing: border-box;
    border-radius: 4px;
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
                0 8px 10px 1px rgba(0, 0, 0, 0.14),
                0 3px 14px 2px rgba(0, 0, 0, 0.12);
  }
  
  .cdk-drag-placeholder {
    opacity: 0;
  }
  
  .cdk-drag-animating {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
  }
  
  .example-box:last-child {
    border: none;
  }
  
  .example-list.cdk-drop-list-dragging .example-box:not(.cdk-drag-placeholder) {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
  }

  .example-box.cdk-drag-disabled {
    background: #ccc;
    cursor: default;
  }
  