<ion-header mode="ios">
  <ion-toolbar>
    <button backButton class="backBtn" (click)="exitQuiz()">
      <p>
        <ion-icon name="close" style="font-size: 20px"></ion-icon>
      </p>
    </button>
    <ion-title>{{testTitle}} Quiz</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content mode="ios">
<!-- if have purchased -->
  <div *ngIf="testTitle != null">
    <div class="divSpacingBox" *ngIf="!testTitle.includes('Adaptive')">
      <!-- question 1 -->
      <div *ngIf="(patternNum == 1) && (randomTitlesArray.length > 0)">
        <div class="blueTitlePadding">
          <ion-card-subtitle>Question #1 of 3</ion-card-subtitle>
          <h5>Press and drag pattern names into the correct order:</h5>
          <div style="border-bottom: #4c81ee solid; width: 10%; margin-bottom: 20px;"></div>
        </div>
        <div class="questionSection">
          <div cdkDropListGroup>
            <div class="example-container">
              <ion-card cdkDropList [cdkDropListData]="randomTitlesArray" class="example-list"
                (cdkDropListDropped)="drop($event)" style="margin: 10px 35px;">
                <ion-label class="ion-text-wrap" class="example-box" *ngFor="let pattern of randomTitlesArray" cdkDrag
                  style="padding-top: 12px; padding-bottom: 12px;">{{pattern}}</ion-label>
              </ion-card>
            </div>
          </div>
          <div class="paddingIWant">
            <ion-chip style="padding: 15px 20px 18px 20px" *ngIf="goodJobBoolean1">
              <ion-icon name="heart" color="danger"></ion-icon>
              <ion-label style=" font-size: 1.2rem;">Correct!</ion-label>
            </ion-chip>
            <ion-chip style="padding: 15px 20px 18px 20px" *ngIf="tryAgainBoolean1">
              <ion-label style="font-size: 1.2rem;">Not quite, try again!</ion-label>
            </ion-chip>
            <ion-button expand="block" fill="solid" (click)="submit1()" class="quizBtns">Check Answer</ion-button>
            <ion-button expand="block" fill="solid" (click)="nextBtn()" class="quizBtnsBottom">Next Question</ion-button>
          </div>
        </div>
      </div>

      <!-- question #2 -->
      <div *ngIf="patternNum == 2">
        <div class="blueTitlePadding">
          <ion-card-subtitle>Question #2 of 3</ion-card-subtitle>
          <h5>Press and drag focus points under the correct patterns:</h5>
          <div style="border-bottom: #4c81ee solid; width: 10%; margin-bottom: 20px;"></div>
        </div>
        <div class="questionSection">
          <div cdkDropListGroup>
            <div class="example-container">
              <ion-card cdkDropList [cdkDropListData]="numbersTitleArrayFocus" class="example-list"
                (cdkDropListDropped)="drop($event)" style="margin: 10px 35px;">

                <ion-label [ngStyle]="{
                'background-color': pattern.charAt(1) == '.' ? '#E8E8E8' : 'white',
                'color': pattern.charAt(1) == '.' ? 'black' : 'black'
               }" class="ion-text-wrap" class="example-box"
                  *ngFor="let pattern of numbersTitleArrayFocus; let i = index" cdkDrag
                  style="padding-top: 12px; padding-bottom: 12px;">
                  {{pattern}}
                </ion-label>
              </ion-card>
            </div>

            <div class="example-container">
              <ion-card class="quizCard" cdkDropList [cdkDropListData]="randomFocusArray" class="example-list"
                (cdkDropListDropped)="drop($event)" style="margin: 10px 35px;">
                <ion-label class="ion-text-wrap" class="example-box" *ngFor="let focus of randomFocusArray" cdkDrag
                  style="padding-top: 12px; padding-bottom: 12px;">{{focus}}</ion-label>
              </ion-card>
            </div>
          </div>

          <div class="paddingIWant">
            <ion-chip style="padding: 15px 20px 18px 20px" *ngIf="goodJobBoolean2">
              <ion-icon name="heart" color="danger"></ion-icon>
              <ion-label style=" font-size: 1.2rem;">Correct!</ion-label>
            </ion-chip>
            <ion-chip style="padding: 15px 20px 18px 20px" *ngIf="tryAgainBoolean2">
              <ion-label style="font-size: 1.2rem;">Not quite, try again!</ion-label>
            </ion-chip>
            <ion-button expand="block" fill="solid" (click)="submit2()" class="quizBtns">Check Answer</ion-button>
            <ion-row>
              <ion-col style="padding: 0px;">
                <ion-button expand="block" fill="solid" (click)="previousBtn()" class="quizBtnsBottom">Previous Question
                </ion-button>
              </ion-col>
              <ion-col style="padding: 0px;">
                <ion-button expand="block" fill="solid" (click)="nextBtn()" class="quizBtnsBottom">Next Question</ion-button>
              </ion-col>
            </ion-row>
          </div>
        </div>
      </div>

      <!-- question #3 -->
      <div *ngIf="patternNum == 3">
        <div class="blueTitlePadding">
          <ion-card-subtitle>Question #3 of 3</ion-card-subtitle>
          <h5>Press and drag test expectations under the correct patterns:</h5>
          <div style="border-bottom: #4c81ee solid; width: 10%; margin-bottom: 20px;"></div>
        </div>
        <div class="questionSection">
          <div cdkDropListGroup>

            <div class="example-container">
              <ion-card cdkDropList [cdkDropListData]="numbersTitleArrayBullets" class="example-list"
                (cdkDropListDropped)="drop($event)" style="margin: 10px 35px;">

                <ion-label [ngStyle]="{
              'background-color': pattern.charAt(1) == '.' ? '#E8E8E8' : 'white',
              'color': pattern.charAt(1) == '.' ? 'black' : 'black'
             }" class="ion-text-wrap" class="example-box"
                  *ngFor="let pattern of numbersTitleArrayBullets; let i = index" cdkDrag
                  style="padding-top: 12px; padding-bottom: 12px;">
                  {{pattern}}
                </ion-label>
              </ion-card>
            </div>

            <div class="example-container">
              <ion-card class="quizCard" cdkDropList [cdkDropListData]="randomBulletsArray" class="example-list"
                (cdkDropListDropped)="drop($event)" style="margin: 10px 35px;">
                <ion-label class="ion-text-wrap" class="example-box" *ngFor="let bullet of randomBulletsArray" cdkDrag
                  style="padding-top: 12px; padding-bottom: 12px;">{{bullet}}</ion-label>
              </ion-card>

            </div>
          </div>


          <div class="paddingIWant">
            <ion-chip style="padding: 15px 20px 18px 20px;" *ngIf="goodJobBoolean3">
              <ion-icon name="heart" color="danger"></ion-icon>
              <ion-label style="font-size: 1.2rem;">Correct!</ion-label>
            </ion-chip>
            <ion-chip style="padding: 15px 20px 18px 20px" *ngIf="tryAgainBoolean3">
              <ion-label style=" font-size: 1.2rem;">Not quite, try again!</ion-label>
            </ion-chip>
            <ion-button expand="block" fill="solid" (click)="submit3()" class="quizBtns">Check Answer</ion-button>
            <ion-row>
              <ion-col style="padding: 0px;">
                <ion-button expand="block" fill="solid" (click)="previousBtn()" class="quizBtnsBottom">Previous Question
                </ion-button>
              </ion-col>
              <ion-col style="padding: 0px;">
                <ion-button expand="block" fill="solid" (click)="exitQuiz()" class="quizBtnsBottom">Exit Quiz</ion-button>
              </ion-col>
            </ion-row>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- adapative question #1 -->
  <div *ngIf="testTitle != null">
    <div class="divSpacingBox" *ngIf="testTitle.includes('Adaptive')">
      <div *ngIf="(patternNum == 1) && (randomTitlesArray.length > 0)">
        <div class="blueTitlePadding">
          <ion-card-subtitle>Question #1 of 1</ion-card-subtitle>
          <h5>Press and drag pattern names into the correct order:</h5>
          <div style="border-bottom: #4c81ee solid; width: 10%; margin-bottom: 20px;"></div>
        </div>
        <div class="questionSection">
          <div cdkDropListGroup>
            <div class="example-container">
              <ion-card cdkDropList [cdkDropListData]="randomTitlesArray" class="example-list"
                (cdkDropListDropped)="drop($event)" style="margin: 10px 35px;">
                <ion-label class="ion-text-wrap" class="example-box" *ngFor="let pattern of randomTitlesArray" cdkDrag
                  style="padding-top: 12px; padding-bottom: 12px;">{{pattern}}</ion-label>
              </ion-card>
            </div>
          </div>
          <div class="paddingIWant">
            <ion-chip style="padding: 15px 20px 18px 20px" *ngIf="goodJobBoolean1">
              <ion-icon name="heart" color="danger"></ion-icon>
              <ion-label style="font-size: 1.2rem;">Correct!</ion-label>
            </ion-chip>
            <ion-chip style="padding: 15px 20px 18px 20px" *ngIf="tryAgainBoolean1">
              <ion-label style="font-size: 1.2rem;">Not quite, try again!</ion-label>
            </ion-chip>
            <ion-button expand="block" fill="solid" (click)="submit1()" class="quizBtns">Check Answer</ion-button>
            <ion-button expand="block" fill="solid" (click)="exitQuiz()" class="quizBtnsBottom">Exit Quiz</ion-button>
          </div>
        </div>
      </div>
    </div>
  </div>
</ion-content>
