<ion-header mode="ios">
  <ion-toolbar>
    <button backButton class="backBtn" (click)="goBack()">
           <p>
            <ion-icon name="close" style="font-size: 1.4rem"></ion-icon>
           </p>
         </button>
  </ion-toolbar>
</ion-header>

<ion-content mode="ios">
  <div class="divSpacingBox">
    <div class="blueTitlePadding" >
      <p style="font-size: 1.1rem; font-weight: bold; margin-bottom: 5px;">
        Is this pattern ready to test?
      </p>
      <div style="border-bottom: #4c81ee solid; width: 10%; margin-top:5px; margin-bottom: 5px;"></div>
    </div>
    <ion-card class="cardOutline">
      Pattern meets all test expectations and focus points, and has no common errors
    </ion-card>
    <ion-card class="cardOutline">
      Pattern meets standard of test description (on page of app that lists all the patterns)
    </ion-card>
    <ion-card class="cardOutline">
      Skater feels confident
    </ion-card>

    <div class="blueTitlePadding" >
      <p style="font-size: 1.1rem; font-weight: bold; margin-bottom: 5px;">
        Extra tips:
      </p>
      <div style="border-bottom: #4c81ee solid; width: 10%; margin-top:5px; margin-bottom: 5px;"></div>
    </div>
    <ion-card class="cardOutline">
          <p class="readyText">Do a <b>practice test</b> before the actual test (wear testing outfit and have other skaters watching and coach or skater filling out judging form).</p>
    </ion-card>
    <ion-card class="cardOutline">
      <p class="readyText">Prepare your test to be <b>honors ready</b>, so it will for sure be passing.</p>
    </ion-card>
    <ion-card class="cardOutline">
      <p class="readyText">Send videos of your test to a master rated coach or a judge for <b>feedback</b> if you are unsure your patterns are ready for testing.</p>
    </ion-card>
    <ion-card class="cardOutline">
      <p class="readyText">Take the in-app <b>quiz</b> to test your knowledge on pattern order, focus points, and test expectations.</p>
    </ion-card>
  </div>
</ion-content>