<ion-header mode="ios">
  <ion-toolbar>
    <button backButton class="backBtn" (click)="goBack()">
           <p>
            <ion-icon name="close" style="font-size: 1.4rem"></ion-icon>
           </p>
         </button>
  </ion-toolbar>
</ion-header>

<ion-content mode="ios">
      <ion-card style="background-color:#355aa6; margin-right: 15px; margin-left: 15px;">
        <p class="expectationLabel">
          <span style="color: white;">5 axis types in Moves in the Field:</span>
        </p>
      </ion-card>
      <div class="blueTitlePadding" >
        <h1 class="titleUnderlinedInBlue"> #1 - Continuous Axis</h1>
        <div style="border-bottom: #4c81ee solid; width: 10%"></div>
      </div>
      <ion-card class="cardOutline">
        <ion-row>
          <p style="font-size: 1rem; margin: 15px; line-height: 1.6; margin-bottom: 23px;">
            An imaginary continuous line running around the ice surface (like the shape of a running track). It runs parallel to the long wall of the rink connecting the hockey dots (halfway between the long axis and the wall if you don't have hockey dots), and runs parallel to the short wall of the rink making either a straight line or semicircle depending on the pattern.
          </p>
        </ion-row>
        <iframe style="width:100%; border-radius: 10px;" [src]="this.continuousVideo" class="iframeSize" frameborder="0" allowfullscreen></iframe>
      </ion-card>

      <div class="blueTitlePadding" >
        <h1 class="titleUnderlinedInBlue"> #2 - Long Axis</h1>
        <div style="border-bottom: #4c81ee solid; width: 10%"></div>
      </div>
      <ion-card class="cardOutline">
        <ion-row>
          <p style="font-size: 1rem; margin: 15px; line-height: 1.6; margin-bottom: 23px;">
            An imaginary straight line that runs down the middle of the rink parallel to the long wall of the rink.
          </p>
        </ion-row>
        <iframe style="width:100%; border-radius: 10px;" [src]="this.longVideo" class="iframeSize" frameborder="0" allowfullscreen></iframe>
      </ion-card>

      <div class="blueTitlePadding" >
        <h1 class="titleUnderlinedInBlue"> #3 - Short Axis</h1>
        <div style="border-bottom: #4c81ee solid; width: 10%"></div>
      </div>
      <ion-card class="cardOutline">
        <ion-row>
          <p style="font-size: 1rem; margin: 15px; line-height: 1.6; margin-bottom: 23px;">
            An imaginary straight line that runs down the middle of the rink parallel to the short wall of the rink. In most ice arenas, this is the red line in the middle of the rink.
          </p>
        </ion-row>
        <iframe style="width:100%; border-radius: 10px;" [src]="this.shortVideo" class="iframeSize" frameborder="0" allowfullscreen></iframe>
      </ion-card>

      <div class="blueTitlePadding" >
        <h1 class="titleUnderlinedInBlue"> #4 - Diagonal Axis</h1>
        <div style="border-bottom: #4c81ee solid; width: 10%"></div>
      </div>
      <ion-card class="cardOutline">
        <ion-row>
          <p style="font-size: 1rem; margin: 15px; line-height: 1.6; margin-bottom: 23px;">
            Two imaginary straight lines that divide the ice diagonally. 
          </p>
        </ion-row>
        <iframe style="width:100%; border-radius: 10px;" [src]="this.diagonalVideo" class="iframeSize" frameborder="0" allowfullscreen></iframe>
      </ion-card>

      <div class="blueTitlePadding" >
        <h1 class="titleUnderlinedInBlue"> #5 - Transverse Axis</h1>
        <div style="border-bottom: #4c81ee solid; width: 10%"></div>
      </div>
      <ion-card class="cardOutline">
        <ion-row>
          <p style="font-size: 1rem; margin: 15px; line-height: 1.6; margin-bottom: 23px;">
            An imaginary line intersecting the continuous axis at right angles. This axis is any line parallel to the short wall of the rink other than the short axis. The blue lines and goal line are examples of a transverse axis. 
          </p>
        </ion-row>
        <iframe style="width:100%; border-radius: 10px;" [src]="this.transverseVideo" class="iframeSize" frameborder="0" allowfullscreen></iframe>
      </ion-card>
</ion-content>