<ion-header mode="ios">
  <ion-toolbar>
    <ion-title>
      Turn Checklist
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content mode="ios">
  <div class="divSpacingBox" id="canvas">
  <div style="background-color:#355aa6; text-align: center; padding: 10px;">
    <ion-label>
        <p style="color: white;">
          Below are all MITF turns. <br>
          Learn these to prepare for your future tests.<br>
          Check off the turns as you master them.
       </p>
    </ion-label>
  </div>
  <!-- three turns -->
  <div class="turnHeader" *ngIf="turns.length > 0">
    <ion-item-divider style="display: flex;">
      <ion-label class="turnTitle">
        Three-turnss 
      </ion-label>
    </ion-item-divider>
  </div>
  <div *ngFor="let item of turns">
    <ion-item *ngIf="item.name.includes('3-turn')" lines="none">
        <ion-checkbox mode="md" color="primary" value={{item.name}} (ionChange)="isChecked($event)" name={{item.name}} [(ngModel)]="item.isChecked"></ion-checkbox>
          <ion-label class="ion-text-wrap">
            {{item.name}}
          </ion-label>
          <ion-button fill="solid" class="learnBtn"  size="small" slot="end" (click)="checkPurchaseStatus(item)">Learn</ion-button>
        </ion-item>
</div>

<!-- Mohawks -->
<div class="turnHeader" *ngIf="turns.length > 0">
  <ion-item-divider style="display: flex;">
    <ion-label class="turnTitle">
      Mohawks 
    </ion-label>
  </ion-item-divider>
</div>
<div *ngFor="let item of turns">
<ion-item *ngIf="item.name.includes('Mohawk')" lines="none">
  <ion-checkbox mode="md" color="primary" value={{item.name}} (ionChange)="isChecked($event)" name={{item.name}} [(ngModel)]="item.isChecked"></ion-checkbox>
          <ion-label class="ion-text-wrap">
            {{item.name}}
          </ion-label>
          <ion-button fill="solid" class="learnBtn"  size="small" slot="end" (click)="checkPurchaseStatus(item)">Learn</ion-button>
</ion-item>
</div>

<!-- brackets -->
<div class="turnHeader" *ngIf="turns.length > 0">
  <ion-item-divider style="display: flex;">
    <ion-label class="turnTitle">
      Brackets 
    </ion-label>
  </ion-item-divider>
</div>
<div *ngFor="let item of turns">
<ion-item *ngIf="item.name.includes('Bracket')" lines="none">
  <ion-checkbox mode="md" color="primary" value={{item.name}} (ionChange)="isChecked($event)" name={{item.name}} [(ngModel)]="item.isChecked"></ion-checkbox>
  <ion-label class="ion-text-wrap">
    {{item.name}}
  </ion-label>
  <ion-button fill="solid" class="learnBtn"  size="small" slot="end" (click)="checkPurchaseStatus(item)">Learn</ion-button>
</ion-item>
</div>

<!-- counters -->
<div class="turnHeader" *ngIf="turns.length > 0">
  <ion-item-divider style="display: flex;">
    <ion-label class="turnTitle">
      Counters 
    </ion-label>
  </ion-item-divider>
</div>
<div *ngFor="let item of turns">
<ion-item *ngIf="item.name.includes('Counter')" lines="none">
  <ion-checkbox mode="md" color="primary" value={{item.name}} (ionChange)="isChecked($event)" name={{item.name}} [(ngModel)]="item.isChecked"></ion-checkbox>
          <ion-label class="ion-text-wrap">
            {{item.name}}
          </ion-label>
          <ion-button fill="solid" class="learnBtn"  size="small" slot="end" (click)="checkPurchaseStatus(item)">Learn</ion-button>
</ion-item>
</div>

<!-- rockers -->
<div class="turnHeader" *ngIf="turns.length > 0">
  <ion-item-divider style="display: flex;">
    <ion-label class="turnTitle">
      Rockers 
    </ion-label>
  </ion-item-divider>
</div>
<div *ngFor="let item of turns">
<ion-item *ngIf="item.name.includes('Rocker')" lines="none">
  <ion-checkbox mode="md" color="primary" value={{item.name}} (ionChange)="isChecked($event)" name={{item.name}} [(ngModel)]="item.isChecked"></ion-checkbox>
  <ion-label class="ion-text-wrap">
    {{item.name}}
  </ion-label>
  <ion-button fill="solid" class="learnBtn"  size="small" slot="end" (click)="checkPurchaseStatus(item)">Learn</ion-button>
</ion-item>
</div>

<!-- twizzles -->
<div class="turnHeader" *ngIf="turns.length > 0">
  <ion-item-divider style="display: flex;">
    <ion-label class="turnTitle">
      Twizzles 
    </ion-label>
  </ion-item-divider>
</div>
<div *ngFor="let item of turns">
<ion-item *ngIf="item.name.includes('Twizzle')" lines="none">
  <ion-checkbox mode="md" color="primary" value={{item.name}} (ionChange)="isChecked($event)" name={{item.name}} [(ngModel)]="item.isChecked"></ion-checkbox>
  <ion-label class="ion-text-wrap">
    {{item.name}}
  </ion-label>
  <ion-button fill="solid" class="learnBtn"  size="small" slot="end" (click)="checkPurchaseStatus(item)">Learn</ion-button>
</ion-item>
</div>

<!-- loops -->
<div class="turnHeader" *ngIf="turns.length > 0">
  <ion-item-divider style="display: flex;">
  <ion-label class="turnTitle">
    Loops 
  </ion-label>
</ion-item-divider>
</div>
<div *ngFor="let item of turns">
<ion-item *ngIf="item.name.includes('Loop')" lines="none">
  <ion-checkbox mode="md" color="primary" value={{item.name}} (ionChange)="isChecked($event)" name={{item.name}} [(ngModel)]="item.isChecked"></ion-checkbox>
  <ion-label class="ion-text-wrap">
    {{item.name}}
  </ion-label>
  <ion-button fill="solid" class="learnBtn"  size="small" slot="end" (click)="checkPurchaseStatus(item)">Learn</ion-button>
</ion-item>
</div>

<!-- choctaw -->
<div class="turnHeader" *ngIf="turns.length > 0">
  <ion-item-divider style="display: flex;">
    <ion-label class="turnTitle">
      Choctaws
    </ion-label>
  </ion-item-divider>
</div>
<div *ngFor="let item of turns">
<ion-item *ngIf="item.name.includes('Choctaw')" lines="none">
  <ion-checkbox mode="md" color="primary" value={{item.name}} (ionChange)="isChecked($event)" name={{item.name}} [(ngModel)]="item.isChecked"></ion-checkbox>
  <ion-label class="ion-text-wrap">
    {{item.name}}
  </ion-label>
  <ion-button fill="solid" class="learnBtn"  size="small" slot="end" (click)="checkPurchaseStatus(item)">Learn</ion-button>
</ion-item>
</div>
</div>
</ion-content>

