ion-icon{
    color: white;
    padding-right: 2px;
}

.playBtn{
  --background-activated: #355aa6;
}

.extraNotes{
    text-align: center;
    padding-bottom: 8px;
    font-size:.6rem;
    // color: #4c81ee
    //color: black;
}

.turnType{
    text-align: center;
    width: 100%;
    padding: 10px 10px 5px 10px;
    font-weight: bold;
    margin-bottom: 0px;
    //color: black;
  }

  ion-card{
      margin: 10px;
  }

  ion-checkbox{
    position:relative;
    margin-right: 10px;
    --size: 25px;
    --checkmark-width: 2px;
  }

  ion-item{
    --background-activated: transparent;
  }

  .ion-text-wrap{
    // color: #3e3e3e;
    //font-weight: bold;
    padding: 10px;
  }

  .learnBtn{
    --background: var(--ion-color-darkBlue)
  }

  .turnTitle{
    margin:auto;
    padding: 10px;
  }

  .descriptionTxt{
    font-size: 1rem;
  }