<ion-header mode="ios">
  <ion-toolbar>
    <button backButton class="backBtn" (click)="goBack()">
           <p>
            <ion-icon name="close" style="font-size: 1.4rem"></ion-icon>
           </p>
         </button>
  </ion-toolbar>
</ion-header>

<ion-content mode="ios">
  <div class="divSpacingBox">
  <ion-item-divider style="display: flex;">
    <ion-label style="margin: auto; padding: 10px;">
      How I introduce the pattern:
    </ion-label>
  </ion-item-divider>
  <div *ngFor="let bullet of introductionArray; let i = index">
  <ion-card style="padding: 15px;" *ngIf="bullet.length > 1" class="cardOutline">
    <p style="font-size: 1rem; line-height: 1.6;">
    <b>Step {{i+1}}: </b><br>{{bullet}}.
    </p>
  </ion-card>
</div>
  </div>
</ion-content>