<ion-header>
  <ion-toolbar>
    <ion-title>insights</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="blueTitlePadding">
    <h1 class="titleUnderlinedInBlue"><b>Learn all the turns</b></h1>
    <div style="border-bottom: #4c81ee solid; width: 10%"></div>
  </div>
  <ion-card (click)="openTurnSheet()">
    <ion-card-content style="font-size: .9rem; padding: 0px;">
      <ion-row>
      <ion-col size="2" style="background-color:#4c81ee; text-align: center; margin-right: 5px;">
        <ion-icon name="play-circle-outline" style="color:white"></ion-icon>
      </ion-col>
      <ion-col>
        <div style="padding-bottom: 5px; padding-top: 5px">
        <ion-card-title style="font-size: 1rem; padding-bottom: 5px;">Learn Turns</ion-card-title>
      <span >Learn early</span>
    </div>
      </ion-col>
    </ion-row>
    </ion-card-content>
  </ion-card>

  <div class="blueTitlePadding">
    <h1 class="titleUnderlinedInBlue"><b>Are you ready to test?</b></h1>
    <div style="border-bottom: #4c81ee solid; width: 10%"></div>
  </div>
  <ion-card >
    <ion-card-content style="font-size: .9rem; padding: 0px;">
      <ion-row>
      <ion-col size="2" style="background-color:#4c81ee; text-align: center; margin-right: 5px;">
        <ion-icon name="play-circle-outline" style="color:white"></ion-icon>
      </ion-col>
      <ion-col>
        <div style="padding-bottom: 5px; padding-top: 5px">
        <ion-card-title style="font-size: 1rem; padding-bottom: 5px;">Learn Turns</ion-card-title>
      <span >Learn early</span>
    </div>
      </ion-col>
    </ion-row>
    </ion-card-content>
  </ion-card>

  <div class="blueTitlePadding">
    <h1 class="titleUnderlinedInBlue"><b>Judge advice</b></h1>
    <div style="border-bottom: #4c81ee solid; width: 10%"></div>
  </div>
  <ion-card >
    <ion-card-content style="font-size: .9rem; padding: 0px;">
      <ion-row>
      <ion-col size="2" style="background-color:#4c81ee; text-align: center; margin-right: 5px;">
        <ion-icon name="play-circle-outline" style="color:white"></ion-icon>
      </ion-col>
      <ion-col>
        <div style="padding-bottom: 5px; padding-top: 5px">
        <ion-card-title style="font-size: 1rem; padding-bottom: 5px;">Learn Turns</ion-card-title>
      <span >Learn early</span>
    </div>
      </ion-col>
    </ion-row>
    </ion-card-content>
  </ion-card>
</ion-content>
