/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

//ipad
@media only screen and (min-width: 700px) {
  .iframeSize{
      width: 640px;
      height: 360px;
  }

  .iframeBox{
    padding: 50px;
  }
}

.iframeBox{
  padding: 30px;
}

.divSpacingBox{
    margin-bottom:300px !important;
  }

.toast-class{
  --background:#e5acb6;
  --border-radius:5px;
  --color:#000000;
  text-align: center;
  --box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
                0 8px 10px 1px rgba(0, 0, 0, 0.14),
                0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

ion-toolbar{
  --background: var(--ion-color-darkBlue);
  color: white;
}

ion-back-button{
  color: white;
  font-size: .8rem; 
  padding-left: 15px
}

.backBtn{
  background-color: transparent;
  color: #ffffff;
  margin-top: 10px;
  float: right;
}

//for sign in
.modal-wrapper{
  background: transparent !important;
}

.modal-fullscreen {
  .modal-wrapper {
      position: absolute;
      top: 0;
      left: 0;
      display: block;
      width: 100%;
      height: 100%;
  }
}

.center{
  text-align: center;
  width: 100%;
  padding: 10px;
  font-weight: bold;
}

.errorPageBackground{
  background-color:rgba(76, 129, 238, 0.3);
}

.titleUnderlinedInBlue{
  margin-bottom: 0px !important;
  font-size: 1.15rem !important;
  font-family: Arial, Helvetica, sans-serif !important;
  font-weight: bold !important;
  // font-family: var(--ion-font-familyOfficial) !important;
}

.hyperLink{
  color: #4c81ee;
  text-decoration: underline;
}

.importantConceptText{
  color:black; 
  padding-bottom: 25px;
  padding-top:15px;
}

.blueTitlePadding{
  padding-left:15px; 
  padding-right: 20px; 
  margin-top: 30px;
}

ion-item{
  --ion-item-background: transparent;
}

.cardOutline{
  //border: rgb(221, 221, 221) solid .25px;
  // background-color: white; 
  margin-right: 12px; 
  margin-left: 12px;
  margin-top: 20px;
  // color: rgb(27, 27, 27);
  padding: 15px;
  font-size: 1rem;
  line-height: 1.6;
}

.instructionalCardBackground{
  background-color: white;
}

.descBulletPadding {
  margin-top: 0px;
  text-indent: -1.2em;
  padding-left: 2em;
  padding-right: 1em;
}

//component css
.closeButton {
  background-color: transparent !important;
  font-size: 1.5rem;
  color: #202020;
  padding-left: 5px;
  padding-bottom: 10px;
  position: relative;
  left: 90%;
}

.modal-wrapper{
  //background: transparent !important;
  background-color: #0000006e !important;
}

.loginBackground{
  // background-color: #ffffff ;
  // color:#000000;
  // width:90%;
  // margin-top: 80px !important;
  // margin-left: 20px !important;
  // margin-right: 20px !important;
  // border-radius: 5px;
  padding: 10px;
  margin-bottom: 0px;
}

.modal-fullscreen {
  .modal-wrapper {
      position: absolute;
      top: 0;
      left: 0;
      display: block;
      width: 100%;
      height: 100%;
  }
}

