iframe{
  border-width: 0px;
}

.instructionalCard{
    margin: 5px;
}

  .patternHeader{
    background-color: rgb(235, 235, 235)
  }

  h1{
    margin-bottom: 5px;
    font-size: 1rem;
  }
  
  ion-label{
    padding: 5px;
  }

  .turnType{
    text-align: center;
    width: 100%;
    padding: 10px 10px 10px 10px;
    font-weight: bold;
    margin-bottom: 0px;
  }

  .techniqueCard{
    margin: 13px;
    font-size: 1rem;
    padding:5px;
  }

  .cardText{
      font-size: 1rem;
      line-height: 1.6;
      padding: 15px;
  }


.loading{
  // position: absolute;
  // left: 45%;
  // top: 18%;
  // -webkit-transform: translate(-50%, -50%);
  //transform: translate(-30%, -50%);
  transform: scale(2);
  color: #2c4086;
  display: block;
  margin: auto;
  margin-top: 40px;
  // margin: 100px;
  // position: relative;
  // height: auto;
  // width: 200px;
  // background-color: green;
}
