<ion-header mode="ios">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text="" icon="chevron-back-outline" >
      </ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content mode="ios">
  <ion-card *ngIf="isIpad">
    <ion-card-content>
      To play videos fullscreen on iPad, click the title of the video and it will open the video in YouTube. From YouTube, you can watch the video fullscreen. Videos play fullscreen on iPhones, but not on iPads right now. Sorry for the inconvenience!
    </ion-card-content>
  </ion-card>
  <!-- demonstration section -->
  <div *ngIf="patternInfo.length > 0">
    <div class="blueTitlePadding">
      <h1 class="titleUnderlinedInBlue">Coach Demonstration Video</h1>
      <div style="border-bottom: #4c81ee solid; width: 10%"></div>
    </div>
    
    <div *ngFor="let item of patternInfo">
      <!-- <ion-spinner *ngIf="!coachVideoLoaded" name="bubbles" class="loading"></ion-spinner> -->
        <!-- <iframe style="width:100%; border-radius: 10px;" [src]="item.youtubeURL1" class="iframeSize" frameborder="0" allowFullScreen="allowFullScreen" (load)="coachIframeLoaded()"></iframe> -->
        <ion-card>
          <ion-card-content class="iframeBox">
        <iframe style="width: 100%; border-radius: 10px;" [src]="item.youtubeURL1" class="iframeSize" frameborder="0" allowfullscreen></iframe>
      </ion-card-content>
      </ion-card>
    </div>
    <div class="blueTitlePadding" *ngIf="!testName.includes('Adult')">
      <h1 class="titleUnderlinedInBlue">Skater Demonstration Video</h1>
      <div style="border-bottom: #4c81ee solid; width: 10%"></div>
    </div>
    <!-- if it is an adult video prebronze through gold-->
    <div class="blueTitlePadding" *ngIf="testName.includes('Adult')">
      <h1 class="titleUnderlinedInBlue">Adult 21+ Video</h1>
      <div style="border-bottom: #4c81ee solid; width: 10%"></div>
    </div>
    <div *ngFor="let item of patternInfo">  
    <div *ngIf="
      adultExpandedLevel.includes('Adult Intermediate') || 
      adultExpandedLevel.includes('Adult Novice') || 
      adultExpandedLevel.includes('Adult Junior') || 
      adultExpandedLevel.includes('Adult Senior')">
      <div *ngIf="(item.youtubeURLAdultCode != 'AelQEr_HM5o')">
        <!-- <ion-spinner *ngIf="!skater1VideoLoaded" name="bubbles" class="loading"></ion-spinner> -->
        <!-- <iframe style="width:100%; border-radius: 10px;" [src]="item.youtubeURLAdult" class="iframeSize" frameborder="0" allowfullscreen="true" (load)="skater1IframeLoaded()"></iframe> -->
        <ion-card>
          <ion-card-content class="iframeBox">
        <iframe style="width:100%; border-radius: 10px;" [src]="item.youtubeURLAdult" class="iframeSize" frameborder="0" allowfullscreen></iframe>
      </ion-card-content>
    </ion-card>
      </div>
      <div *ngIf="(item.youtubeURLAdultCode == 'AelQEr_HM5o')">
        <ion-card class="cardText">
          <b>Skater demonstration video needed</b> for this pattern. If you send me a video I can use in the app, then I can send you a code to have the <b>entire app for FREE</b> (all instructional content for free)! 
        </ion-card>
      </div>
    </div>
    <div *ngIf="
    !adultExpandedLevel.includes('Adult Intermediate') 
    && !adultExpandedLevel.includes('Adult Novice') 
    && !adultExpandedLevel.includes('Adult Junior') 
    && !adultExpandedLevel.includes('Adult Senior')">
    <div *ngIf="(item.youtubeURL2Code != 'AelQEr_HM5o') && (item.youtubeURL2Code != 'nRv4R0HQYU4') && (item.youtubeURL2Code != 'JbxmKn7SJVs')">
      <!-- <ion-spinner *ngIf="!skater2VideoLoaded" name="bubbles" class="loading"></ion-spinner> -->
      <!-- <iframe style="width:100%; border-radius: 10px;" [src]="item.youtubeURL2" class="iframeSize" frameborder="0" allowfullscreen="true" (load)="skater2IframeLoaded()"></iframe> -->
      <ion-card>
        <ion-card-content class="iframeBox">
      <iframe style="width:100%; border-radius: 10px;" [src]="item.youtubeURL2" class="iframeSize" frameborder="0" allowfullscreen></iframe>
    </ion-card-content>
  </ion-card>
    </div>
      <div *ngIf="(item.youtubeURL2Code == 'AelQEr_HM5o') || (item.youtubeURL2Code == 'nRv4R0HQYU4') || (item.youtubeURL2Code == 'JbxmKn7SJVs')">
        <ion-card class="cardText">
          <b>Skater demonstration video needed</b> for this pattern. If you send me a video I can use in the app, then I can send you a code to have the <b>entire app for FREE</b> (all instructional content for free)! 
        </ion-card>
      </div>
    </div>
  </div>
  <div *ngIf="testName.includes('Adult')">
    <div class="blueTitlePadding">
      <h1 class="titleUnderlinedInBlue">Adult 50+ Video</h1>
      <div style="border-bottom: #4c81ee solid; width: 10%"></div>
    </div>
    <div *ngFor="let item of patternInfo">  
      <div *ngIf="item.youtubeURLAdultCode != 'nRv4R0HQYU4'">
        <!-- <ion-spinner *ngIf="!skater3VideoLoaded" name="bubbles" class="loading"></ion-spinner> -->
        <!-- <iframe style="width:100%; border-radius: 10px;" [src]="item.youtubeURLAdult" class="iframeSize" frameborder="0" allowfullscreen="true" (load)="skater3IframeLoaded()"></iframe> -->
        <ion-card>
          <ion-card-content class="iframeBox">
        <iframe style="width:100%; border-radius: 10px;" [src]="item.youtubeURLAdult" class="iframeSize" frameborder="0" allowfullscreen></iframe>
      </ion-card-content>
    </ion-card>
      </div>
      <div *ngIf="item.youtubeURLAdultCode == 'nRv4R0HQYU4'">
        <ion-card class="cardText">
          <b>Skater demonstration video needed</b> for this pattern. If you send me a video I can use in the app, then I can send you a code to have the <b>entire app for FREE</b> (all instructional content for free)! 
        </ion-card>
      </div>
  </div>
  </div>
  </div>
  <div *ngIf="patternInfo.length > 0">
    <div class="blueTitlePadding">
      <h1 class="titleUnderlinedInBlue">Instructional Content</h1>
      <div style="border-bottom: #4c81ee solid; width: 10%"></div>
    </div>
    <ion-grid style="text-align: center">
      <ion-row>
        <ion-col>
          <ion-card (click)="checkPurchaseStatus('exercise')" class="instructionalCard">
            <p class="techniqueCard">Exercises</p>
          </ion-card>
        </ion-col>
        <ion-col>
          <ion-card (click)="checkPurchaseStatus('error')" class="instructionalCard">
            <p class="techniqueCard">Errors</p>
          </ion-card>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-card (click)="checkPurchaseStatus('detail')" class="instructionalCard">
            <p class="techniqueCard">Technique</p>
          </ion-card>
        </ion-col>
        <ion-col>
          <ion-card (click)="checkPurchaseStatus('introduce')" class="instructionalCard">
            <p class="techniqueCard">Introduce</p>
          </ion-card>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-card (click)="checkPurchaseStatus('placement')" class="instructionalCard">
            <p class="techniqueCard">Placement</p>
          </ion-card>
        </ion-col>
        <ion-col>
          <ion-card (click)="checkPurchaseStatus('ready')" class="instructionalCard">
            <p class="techniqueCard">Ready to Test?</p>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
  <div *ngFor="let item of patternInfo;">
    <div *ngIf="(item.bullets != null)">
      <div class="blueTitlePadding">
        <h1 class="titleUnderlinedInBlue">Test expectations</h1>
        <div style="border-bottom: #4c81ee solid; width: 10%"></div>
      </div>
      <ion-card *ngFor="let bullet of item.bullets; let i = index" class="cardText">
        {{bullet}}
      </ion-card>
    </div>
  </div>
  <!-- focus -->
  <div *ngFor="let item of patternInfo;">
    <div class="blueTitlePadding">
      <h1 *ngIf="item.focus.length == 1" class="titleUnderlinedInBlue">Focus point</h1>
      <h1 *ngIf="item.focus.length > 1" class="titleUnderlinedInBlue">Focus points</h1>
      <div style="border-bottom: #4c81ee solid; width: 10%"></div>
    </div>
    <div *ngIf="(item.focus != null)">
      <ion-card *ngFor="let focus of item.focus; let i = index">
        <ion-item lines="none" detail (click)="getFocusDefinition(item, i)">
          <ion-label class="ion-text-wrap">{{i+1}}. {{focus}}</ion-label>
        </ion-item>
      </ion-card>
    </div>
  </div>
  <!-- diagram -->
  <div *ngFor="let item of patternInfo;">
    <div class="blueTitlePadding">
      <h1 class="titleUnderlinedInBlue">Diagram</h1>
      <div style="border-bottom: #4c81ee solid; width: 10%"></div>
    </div>
      <ion-card *ngIf="item.diagramURL != null">
        <ion-item detail lines="none" (click)="viewDiagram(item)">
          <ion-label class="ionItemDesign ion-text-wrap">Used with permission of U.S.F.S.A.
          </ion-label>
        </ion-item>
      </ion-card>
  </div>
  <!-- description -->
  <div *ngFor="let item of patternInfo;" class="divSpacingBox">
    <div class="blueTitlePadding">
      <h1 class="titleUnderlinedInBlue">Description</h1>
      <div style="border-bottom: #4c81ee solid; width: 10%"></div>
    </div>
      <ion-card class="  cardOutline">
        <div *ngFor="let desc of item.desc; let i = index" style="margin-top: 20px;">
          <p class="descBulletPadding" *ngIf="desc.length > 1">{{i+1}}. {{desc}}</p>
        </div>
      </ion-card>
  </div>
</ion-content>