<ion-header mode="ios" class="ion-no-border">
  <ion-toolbar>
       <ion-title>
         Tests
       </ion-title>
   </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" mode="ios">
  <ion-grid>
    <ion-segment 
    value="standard" 
    (ionChange)="segmentChanged($event)"
    scrollable="true"
    mode="ios"
    >
 
      <ion-segment-button value="standard">
        <ion-label >Standard</ion-label>
      </ion-segment-button>
 
      <ion-segment-button value="adult">
        <ion-label >Adult</ion-label>
      </ion-segment-button>
 
      <ion-segment-button value="adaptive">
       <ion-label >Adaptive</ion-label>
     </ion-segment-button>
 
    </ion-segment>
  </ion-grid>


  

  <div class="divSpacingBox" *ngIf="category.includes('standard')">
    <ion-card>
    <ion-item button (click)="openItem('Pre-Preliminary')" detail lines="none">
      <ion-label>
        1. Pre-Preliminary
      </ion-label>
    </ion-item>
  </ion-card>

    <ion-card>
    <ion-item button (click)="openItem('Preliminary')" detail lines="none">
      <ion-label>
        2. Preliminary
      </ion-label>
    </ion-item>
  </ion-card>
    <ion-card>
    <ion-item button (click)="openItem('Pre-Juvenile')" detail lines="none">
      <ion-label>
        3. Pre-Juvenile
      </ion-label>
    </ion-item>
  </ion-card>
    <ion-card>
    <ion-item button (click)="openItem('Juvenile')" detail lines="none">
      <ion-label>
        4. Juvenile
      </ion-label>
    </ion-item>
  </ion-card>
    <ion-card>
    <ion-item button (click)="openItem('Intermediate')" detail lines="none">
      <ion-label>
        5. Intermediate
      </ion-label>
    </ion-item>
  </ion-card>
    <ion-card>
    <ion-item button (click)="openItem('Novice')" detail lines="none">
      <ion-label>
        6. Novice
      </ion-label>
    </ion-item>
  </ion-card>
    <ion-card>
    <ion-item button (click)="openItem('Junior')" detail lines="none">
      <ion-label>
        7. Junior
      </ion-label>
    </ion-item>
  </ion-card>
    <ion-card>
    <ion-item button (click)="openItem('Senior')" detail lines="none">
      <ion-label>
        8. Senior
      </ion-label>
    </ion-item>
  </ion-card>
  </div>

  <div class="divSpacingBox" *ngIf="category.includes('adult')">
    <ion-card style=" margin: 15px;" class="cardText">
        To qualify for any adult tests, the candidate must be 21 years of age or older.
    </ion-card>
    <ion-card>
    <ion-item button (click)="openItem('Adult Pre-Bronze')" detail lines="none">
      <ion-label>
        1. Adult Pre-Bronze
      </ion-label>
    </ion-item>
  </ion-card>
    <ion-card>
    <ion-item button (click)="openItem('Adult Bronze')" detail lines="none">
      <ion-label>
        2. Adult Bronze
      </ion-label>
    </ion-item>
  </ion-card>
    <ion-card>
    <ion-item button (click)="openItem('Adult Silver')" detail lines="none">
      <ion-label>
        3. Adult Silver
      </ion-label>
    </ion-item>
  </ion-card>
    <ion-card>
    <ion-item button (click)="openItem('Adult Gold')" detail lines="none">
      <ion-label>
        4. Adult Gold
      </ion-label>
    </ion-item>
  </ion-card>
    <ion-card>
    <ion-item button (click)="openItem('Adult Intermediate')" detail lines="none">
      <ion-label>
        5. Adult Intermediate
      </ion-label>
    </ion-item>
  </ion-card>
    <ion-card>
    <ion-item button (click)="openItem('Adult Novice')" detail lines="none">
      <ion-label>
        6. Adult Novice
      </ion-label>
    </ion-item>
  </ion-card>
    <ion-card>
    <ion-item button (click)="openItem('Adult Junior')" detail lines="none">
      <ion-label>
        7. Adult Junior
      </ion-label>
    </ion-item>
  </ion-card>
    <ion-card>
    <ion-item button (click)="openItem('Adult Senior')" detail lines="none">
      <ion-label>
        8. Adult Senior
      </ion-label>
    </ion-item>
  </ion-card>
  <ion-card style=" margin: 15px;" class="cardText">
      After the Adult Gold test, you can skip to the Intermediate standard track level. You will be judged as an adult skater (rule 5034 in rulebook). This is why it’s called Adult Intermediate through Adult Senior.
  </ion-card>
  </div>

  <div class="divSpacingBox" *ngIf="category.includes('adaptive')">
    <ion-card style=" margin: 15px;" class="cardText">
        An adaptive skating moves in the field test may be given to any Special Olympics or adaptive skating athlete who is registered with a Special Olympics or adaptive skating program (rule 5014).
    </ion-card>
    <ion-card>
    <ion-item button (click)="openItem('Adaptive Pre-Bronze')" detail lines="none">
      <ion-label>
        1. Adaptive Pre-Bronze
      </ion-label>
    </ion-item>
  </ion-card>
    <ion-card>
    <ion-item button (click)="openItem('Adaptive Bronze')" detail lines="none">
      <ion-label>
        2. Adaptive Bronze
      </ion-label>
    </ion-item>
  </ion-card>
    <ion-card>
    <ion-item button (click)="openItem('Adaptive Silver')" detail lines="none">
      <ion-label>
        3. Adaptive Silver
      </ion-label>
    </ion-item>
  </ion-card>
    <ion-card>
    <ion-item button (click)="openItem('Adaptive Gold')" detail lines="none">
      <ion-label>
        4. Adaptive Gold
      </ion-label>
    </ion-item>
  </ion-card>
  </div>
</ion-content>
