

.divSpacingBox ion-label{
  padding: 5px;
  //color: #6c6e74;
}


ion-segment{
  margin-top: 15px;
  // border-radius: 25px !important;
}

ion-segment-button{
  --background-checked: #355aa6;
  --color-checked: white;
  --indicator-color : transparent!important; 
  // border-radius: 25px !important;
}

.cardText{
  font-size: 1rem;
  line-height: 1.6;
  padding: 15px;
}