<ion-header mode="ios">
  <ion-toolbar>
    <button backButton class="backBtn" (click)="goBack()">
           <p>
            <ion-icon name="close" style="font-size: 1.4rem"></ion-icon>
           </p>
         </button>
  </ion-toolbar>
</ion-header>

<ion-content mode="ios" class="instructionalBackground">
  <div class="divSpacingBox">
    <!-- pattern axis -->
    <div *ngIf="patternAxis != null">
    <div class="blueTitlePadding" >
      <h1 class="titleUnderlinedInBlue">Pattern axis:</h1>
      <div style="border-bottom: #4c81ee solid; width: 10%"></div>
    </div>
    <ion-card class="cardOutline">
      <div *ngFor="let axisSentences of patternAxis.split('.'); let d = index">
        <div *ngIf="patternAxis.split('.').length == 2">
          <p style="font-size: 1rem; margin-top: 15px; margin-bottom: 15px; line-height: 1.6;"
            *ngIf="axisSentences.length > 1">
            {{axisSentences}}.
          </p>
        </div>
        <div *ngIf="patternAxis.split('.').length > 2">
          <p class="descBulletPadding" *ngIf="axisSentences.length > 1"
            style="font-size: 1rem; margin-top: 15px; line-height: 1.6; margin-bottom: 23px;">
            {{d+1}}. {{axisSentences}}
          </p>
        </div>
      </div>
      <ion-button fill="solid" style="--background: var(--ion-color-darkBlue)" expand="block" (click)="openModal()">
        View axis diagrams/definitions
      </ion-button>
    </ion-card>
  </div>

  <div *ngIf="numLobes != null">
  <div class="blueTitlePadding" >
    <h1 class="titleUnderlinedInBlue">Lobes:</h1>
      <div style="border-bottom: #4c81ee solid; width: 10%"></div>
  </div>
      <ion-card class="lobeCard">
        <p >
          <b>Number of lobes:</b>
          {{numLobes}}
        </p>
      </ion-card>
      <ion-card *ngIf="patternAxis.includes('continuous')" class="lobeCard">
        <p >
          <b>Height of lobes:</b>
          As tall as the hockey circles, or smaller, depending on the skater.
        </p>
      </ion-card>
      <ion-card *ngIf="patternAxis.includes('short')" class="lobeCard">
        <p >
          <b>Height of lobes:</b>
          I have each lobe go 5 to 8 blade lengths away from the axis depedning on the skater.
        </p>
      </ion-card>
      <ion-card class="lobeCard">
        <p >
          <b>Width of lobes:</b>
          Space lobes evenly down the axis.
        </p>
      </ion-card>
      <ion-card class="lobeCard">
        <p >
          <b>Lobe definition:</b>
          Any sequence of steps on one side of an axis that is approximately semi-circular in shape.
        </p>
      </ion-card>
      <!-- continuous axis lobes -->
      <!-- <div *ngIf="patternAxis.includes('continuous') && (numLobesNumber != null)">
        <ion-button fill="outline" size="small" expand="block" (click)="openAxisVideo('9_6Ux5MTFiQ')"
          *ngIf="numLobesNumber.includes('4') && (numLobesNumber != null)">
          
          View 4 lobe diagram
        </ion-button>
        <ion-button fill="outline" size="small" expand="block" (click)="openAxisVideo('5e64YhIfWAc')"
          *ngIf="numLobesNumber.includes('5') && (numLobesNumber != null)">
          
          View 5 lobe diagram
        </ion-button>
        <ion-button fill="outline" size="small" expand="block" (click)="openAxisVideo('JsCBx3FxVDA')"
          *ngIf="numLobesNumber.includes('6') && (numLobesNumber != null)">
          
          View 6 lobe diagram
        </ion-button>
      </div> -->
      <!-- short axis lobes -->
      <!-- <div *ngIf="patternAxis.includes('short') && (numLobesNumber != null)">
        <ion-button fill="outline" size="small" expand="block" (click)="openAxisVideo('IIT6ztt8K5c')"
          *ngIf="numLobesNumber.includes('4') && (numLobesNumber != null)">
          
          View 4 lobe diagram
        </ion-button>
        <ion-button fill="outline" size="small" expand="block" (click)="openAxisVideo('qEb4IhiOvqw')"
          *ngIf="numLobesNumber.includes('5') && (numLobesNumber != null)">
          
          View 5 lobe diagram
        </ion-button>
        <ion-button fill="outline" size="small" expand="block" (click)="openAxisVideo('6XcrfSpMHoU')"
          *ngIf="numLobesNumber.includes('6') && (numLobesNumber != null)">
          
          View 6 lobe diagram
        </ion-button>
      </div> -->
  </div>

    <!-- placement card -->
    <div *ngIf="moreInfo != null">
    <div class="blueTitlePadding" >
      <h1 class="titleUnderlinedInBlue">Placement:</h1>
      <div style="border-bottom: #4c81ee solid; width: 10%"></div>
    </div>
    <ion-card class="cardOutline">
      <div *ngFor="let placementSentences of moreInfo.split('.'); let d = index">
        <div *ngIf="moreInfo.split('.').length == 2">
          <p *ngIf="placementSentences.length > 1"
            style="font-size: 1rem; margin-top: 15px; line-height: 1.6;">
            {{placementSentences}}.
          </p>
        </div>
        <div *ngIf="moreInfo.split('.').length > 2">
          <p class="descBulletPadding" *ngIf="placementSentences.length > 1"
            style=" font-size: 1rem; margin-top: 15px; line-height: 1.6; margin-bottom: 23px;">
            {{d+1}}. {{placementSentences}}.
          </p>
        </div>
      </div>
      <div *ngIf="moreInfoVideo != null">
        <ion-button fill="solid" style="--background: var(--ion-color-darkBlue)" expand="block" (click)="openMoreInfoVideo()">
          View diagram
        </ion-button>
      </div>
    </ion-card>
  </div>
  </div>
</ion-content>