

.videoBtn{
    margin-top: 10px;
    margin-bottom: 10px;
}

ion-button{
    margin-top: 25px;
}

.lobeCard{
  //border: rgb(221, 221, 221) solid .25px;
  // background-color: white; 
  margin-right: 12px; 
  margin-left: 12px;
  margin-top: 20px;
  // color: rgb(27, 27, 27);
  padding: 15px;
}

.lobeCard p{
    margin:0px;
    font-size: 1rem;
}
